<div class="box">
    <center>
        <h3>Ayo, Kita Selesaikan</h3>
    </center>
    <ol>
        <li>Sebuah mobil yang mula-mula diam bergerak dipercepat
        beraturan hingga kecepatannya menjadi 72 km/jam setelah
        bergerak selama 30 sekon. Percepatan yang dialami mobil
        tersebut adalah ....</li>
        <li>Buah kelapa yang sudah tua dan matang jatuh dari pohonnya.
        Jika percepatan gravitasi 10 m/s 2 , berapakah kecepatan buah
        kelapa setelah jatuh selama 3 sekon?</li>
    </ol>
</div>

<h3><span>2.</span>Gaya</h3>

<p>Gaya adalah tarikan atau dorongan. Gaya dapat mengubah bentuk,
arah, dan kecepatan benda. Misalnya pada plastisin, kamu dapat
melempar plastisin, menghentikan lemparan (menangkap) plastisin,
atau bahkan mengubah bentuk plastisin dengan memberikan gaya.
Tahukah kamu, gaya apakah yang diberikan pada plastisin tersebut?
Ada berapa jenis gaya yang dapat kita temukan dalam kehidupan
sehari-hari?</p>

<p>Gaya dapat dibedakan menjadi gaya sentuh dan gaya tak sentuh.
Gaya sentuh contohnya adalah gaya otot dan gaya gesek. Gaya otot
adalah gaya yang ditimbulkan oleh koordinasi otot dengan rangka
tubuh. Misalnya, seseorang hendak memanah dengan menarik mata
panah ke arah belakang (Gambar 1.7a). Gaya gesek adalah gaya yang
diakibatkan oleh adanya dua buah benda yang saling bergesekan. Gaya
gesek selalu berlawanan arah dengan gaya yang diberikan pada benda.
Contohnya adalah gaya gesekan antara meja dengan lantai. Meja
yang didorong ke depan akan bergerak ke depan, namun pada waktu
yang bersamaan meja juga akan mengalami gaya gesek yang arahnya
berlawanan dengan arah gerak meja.</p>