<div class="mb-4">
    5. Prinsip kerja pesawat sederhana pada saat seseorang mengangkat barbel adalah ....
    <br/>
    <br/>
    
    <input type="radio" name="soal[1]" value=""> bidang miring
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis I
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis II
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis III
    <br>
</div>

<div class="mb-4">
    6. Prinsip kerja pesawat sederhana pada saat otot betis pemain bulutangkis mengangkat beban tubuhnya dengan bertumpu pada jari
    kakinya adalah ....
    <br/>
    <br/>
    
    <input type="radio" name="soal[1]" value=""> bidang miring
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis I
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis II
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis III
    <br>
</div>

<p>Perhatikan gambar berikut ini! Gambar berikut sebagai acuan untuk menjawab pertanyaan nomor 7 dan 8!</p>
<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/page100/1.png" alt="" />
</div>

<div class="mb-4">
    7. Alat yang termasuk ke dalam golongan bidang miring adalah ....
    <br/>
    <br/>

    <input type="radio" name="soal[1]" value=""> (1)
    <br>
    <input type="radio" name="soal[1]" value=""> (2)
    <br>
    <input type="radio" name="soal[1]" value=""> (3)
    <br>
    <input type="radio" name="soal[1]" value=""> (4)
    <br>
</div>

<div class="mb-4">
    8. Alat yang termasuk ke dalam golongan roda berporos adalah ....
    <br/>
    <br/>

    <input type="radio" name="soal[1]" value=""> (1)
    <br>
    <input type="radio" name="soal[1]" value=""> (2)
    <br>
    <input type="radio" name="soal[1]" value=""> (3)
    <br>
    <input type="radio" name="soal[1]" value=""> (4)
    <br>
</div>
