<div class="mb-4">
    9. Perhatikan gambar berikut ini!
    <div class="mb-2 mt-2 text-center">
        <img style="width:50%;" src="content/img/page101/1.png">
        <div>
            <small>Sumber: www.dhgate.com</small>
        </div>
    </div>
    <p>Prinsip kerja tangan anak yang sedang menarik koper pada gambar di atas sama dengan prinsip kerja ....</p>
    
    <input type="radio" name="soal[1]" value=""> roda berporos
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis ketiga
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis kedua
    <br>
    <input type="radio" name="soal[1]" value=""> pengungkit jenis pertama
    <br>
</div>
<div class="mb-4">
    10.  Berikut merupakan gambaran skematis tangga yang ada di rumah Dayu. Panjang tangga tersebut adalah 8 meter, sedangkan ketinggiannya
    adalah 4 meter.
    <div class="mb-2 mt-2 text-center">
        <img style="width:50%;" src="content/img/page101/2.png">
        <div>
            <small>Sumber: www.dhgate.com</small>
        </div>
    </div>
    <p>Keuntungan mekanis dari penggunaan tangga tersebut adalah ....</p>

    <input type="radio" name="soal[1]" value=""> 1/2
    <br>
    <input type="radio" name="soal[1]" value=""> 2
    <br>
    <input type="radio" name="soal[1]" value=""> 8
    <br>
    <input type="radio" name="soal[1]" value=""> 4
    <br>
</div>