<p class="justify">Kita wajib bersyukur kepada Tuhan Yang Maha Esa karena telah
menjadikan negara Indonesia ini menjadi negara yang subur, sehingga
banyak jenis tumbuhan yang tumbuh di Indonesia. Tumbuhan
merupakan makhluk hidup yang berperan dalam menyediakan oksigen
(O2), karbohidrat, protein, lemak, vitamin, dan mineral bagi manusia
serta berbagai jenis hewan yang ada di bumi. Oksigen dibutuhkan oleh
manusia dan hewan untuk proses pernapasan; karbohidrat dan lemak
sebagai sumber energi; protein sebagai zat pembangun tubuh; vitamin
dan mineral berfungsi membantu reaksi-reaksi dalam tubuh.</p>

<div class="row">
    <div class="col-7 justify">
        <p>Salah satu jenis tumbuhan yang
        banyak ditanam oleh masyarakat
        di Indonesia adalah padi (Oryza
        sativa). Perhatikan Gambar 3.1!
        Tanaman padi mampu menghasilkan
        beras yang kemudian kita masak
        menjadi nasi, yang berfungsi sebagai
        sumber karbohidrat. Pernahkah
        kamu berpikir bagaimana padi dapat
        menghasilkan beras? Di manakah
        proses tersebut berlangsung? Bagian
        manakah dari tumbuhan yang
        berperan untuk proses tersebut?</p>
    </div>
    <div class="col-5">
        <a data-fancybox="gallery" href="content/img/page106/3.1.png"><img style="width:100%;" src="content/img/page106/3.1.png"></a>
        <div>
            <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 3.1</b> Tanaman Padi (<i>Oryza Sativa</i>)</small>
        </div>
    </div>
</div>

<p class="justify">Kamu tentu penasaran bukan? Bayangkan juga jika di Indonesia initidak terdapat tumbuhan, tentunya manusia dan hewan tidak dapat hidup.</p>
<p class="justify">Tuhan telah merancang tubuh tumbuhan dengan tersusun atas
bagian-bagian yang memiliki struktur tertentu dan masing-masing
memiliki fungsi khusus sehingga tumbuhan dapat melakukan berbagai
proses dalam kehidupannya. Struktur tubuh tumbuhan banyak yang
menginspirasi manusia untuk mengembangkan teknologi tertentu
yang bermanfaat bagi manusia, misalnya struktur dan proses yang
terjadi di daun. Daun memiliki struktur yang lebar, tipis, dan berfungsi
untuk proses fotosintesis. Dalam proses fotosintesis ini energi cahaya
(misalnya yang berasal dari cahaya matahari) ditangkap oleh pigmen
hijau dalam daun yang kemudian diubah menjadi energi kimia.
Energi kimia selanjutnya disimpan sementara untuk digunakan dalam
pengubahan karbon dioksida (CO2) menjadi glukosa. Tahukah kamu
bahwa mekanisme fotosintesis ini menginspirasi manusia untuk
mengembangkan pembangkit listrik tenaga matahari (surya)?</p>