<div style="margin:auto;width:50%;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="d-block w-100 " src="content/img/page110/1.png" alt="Akar Serabut" >
        <div class="carousel-caption d-none d-md-block">
        <h5>Akar Penyimpan Cadangan Makanan pada Singkong</h5>
        </div>
    </div>
    <div class="carousel-item">
        <img class="d-block w-100"  src="content/img/page110/2.png"  alt="Akar Tunggang">
        <div class="carousel-caption d-none d-md-block">
        <h5>Akar Napas pada Tumbuhan Bakau</h5>
        </div>
    </div>
    
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<div class=" mb-4 text-center ">
    <small>Sumber: (a) Campbell et al. 2008. (b) Dok. Kemdikbud
    <br/>
    <b>Gambar 3.3</b> (a) Akar Penyimpan Cadangan Makanan pada Singkong, (b) Akar Napas pada Tumbuhan Bakau</small>
</div>

<p class="justify">Pada wortel dan lobak akar tunggang berfungsi menyimpan
cadangan makanan yang akan digunakan tumbuhan selama
perbungaan dan pembentukan buah. Oleh karena itu, wortel dan lobak
akan dipanen sebelum perbungaan. Sekarang coba carilah akar-akar
lain yang mengalami modifikasi sebagaimana terdapat pada fitur “Ayo,
Kita Cari Tahu”.</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Cari Tahu</h3>
    </center>
    <p class="justify">Lakukan pengamatan terhadap tumbuhan di sekitarmu
    atau carilah berbagai informasi (informasi didapat dari buku,
    pengamatan tumbuhan di sekitar, internet, majalah, atau koran)
    akar yang mengalami modifikasi struktur dan fungsinya sehingga
    memiliki fungsi tambahan bagi tumbuhan. Catatlah setiap informasi
    yang kamu dapat pada Tabel 3.1!</p>
    <div class=" mb-4 text-center ">
        <small>
            <b>Tabel 3.1</b> Tumbuhan yang Akarnya Mengalami Modifikasi Struktur dan Fungsi
        </small>
        <img style="width:80%" src="content/img/page110/4.png">
    </div>
</div>