<p class="justify">Apakah struktur bunga pada tumbuhan dikotil dan monokotil
sama? Tumbuhan monokotil dan dikotil dapat dibedakan berdasarkan
karakteristik bunga, yaitu jumlah bagian-bagian bunga. Tumbuhan
monokotil mempunyai bagian-bagian bunga seperti daun kelopak,
daun mahkota, dan benang sari yang berkelipatan 3 (tiga). Pada
tumbuhan dikotil mempunyai bagian-bagian bunga berkelipatan 4
(empat) atau 5 (lima).</p>

<h4><span>5</span>Struktur dan Fungsi Buah dan Biji</h4>

<div class="row">
    <div class="col-7 justify">
        <p>Pernahkah kamu memakan
        buah mangga atau buah yang lain?
        Perhatikan Gambar 3.10! Ketika kamu
        makan buah biasanya di dalamnya
        juga terdapat biji. Tahukah kamu
        darimana buah dan biji berasal?
        Masih ingatkah kamu bagian-bagian
        dari bunga? Salah satu bagian dari
        bunga yaitu putik (pistillum). Putik
        terdiri atas tiga bagian, yaitu bagian
        dasar yang menggelembung disebut
        bakal buah (ovarium), bagian yang
        memanjang disebut tangkai putik
        (stilus), dan kepala putik (stigma).</p>
    </div>
    <div class="col-5">
        <img style="width:100%;" src="content/img/page118/2.png">
        <div>
            <small>Sumber: indonesian.alibaba.com

                <br/>
                <b>Gambar 3.10</b> Buah Mangga</small>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7 justify">
        <p>Di dalam bakal buah terdapat
        satu atau lebih bakal biji (ovul). Pada
        perkembangan selanjutnya, bakal
        buah akan berkembang menjadi
        buah sedangkan bakal biji akan
        berkembang menjadi biji. Perhatikan
        Gambar 3.11!</p>
    </div>
    <div class="col-5">
        <img style="width:100%;" src="content/img/page118/3.png">
        <div>
            <small>Sumber: Campbell et al. 2008
            <br/>
            <b>Gambar 3.11</b> Struktur Putik</small>
        </div>
    </div>
</div>