<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.2 Sifat Kelembaman Suatu Benda</h6>
    </center>

    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>1 lembar kertas HVS</li>
        <li>1 buah gelas</li>
    </ol>

    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Letakkan selembar kertas di atas meja, kemudian letakkan gelas
            di atas kertas tersebut (seperti pada Gambar 1.8)! 
            <div class="text-center mt-4 mb-4">
                <a data-fancybox="gallery" href="content/img/page12/1.png"><img style="width:40%;" class="mb-3" src="content/img/page12/1.png"></a>
                <div>
                    <small>Sumber: Dok. Kemdikbud
                        <br/>
                        <b>Gambar 1.8</b> Set Percobaan Kelembaman Suatu Benda
                    </small>
                </div>
            </div>
        </li>
        <li>Tariklah kertas secara horizontal dengan perlahan. Amati apa
        yang terjadi pada gelas dan ulangi hingga 3 kali!</li>
        <li>Tariklah kertas secara horizontal dengan sekali hentakan yang
        cepat! Amati peristiwa yang terjadi pada gelas dan ulangi hingga
        3 kali!</li>
        <li>Apa yang mengakibatkan perbedaan keadaan gelas akibat
        perlakuan nomor 2 dan 3?</li>
        <li>Berapa besar resultan gaya pada benda diam?</li>
    </ol>

    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <ol>
        <li>Bagaimana keadaan gelas pada perlakuan nomor 2?</li>
        <li>Bagaimana keadaan gelas pada perlakuan nomor 3?</li>
        <li>Apa yang mengakibatkan perbedaan keadaan gelas akibat perlakuan nomor 2 dan 3?</li>
        <li>Berapa besar resultan gaya pada benda diam?</li>
    </ol>
    
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>