<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page120/1.png" >
    <div>
        <small>
            Sumber: Campbell et al. 2008 
            <br/>
            <b>Gambar 3.12</b> Jaringan Meristem di Ujung Batang
        </small>
    </div>
</div>
<h5><span>b.</span>Meristem Sekunder</h5>
<p class="justify">Meristem sekunder berasal dari sel-sel dewasa yang berubah
sifatnya menjadi meristematik kembali (aktif membelah kembali).
Contohnya adalah kambium pembuluh (kambium vaskuler) dan
kambium gabus (felogen). Kambium vaskuler merupakan lapisan
sel-sel yang aktif membelah yang terletak di antara pembuluh angkut
xilem dan floem. Kambium vaskuler ini banyak terdapat pada batang
dan akar tumbuhan dikotil, sedangkan tumbuhan monokotil pada
umumnya tidak memiliki kambium vaskuler. Perhatikan Gambar 3.13!</p>
<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/page120/2.png" >
    <div>
        <small>
            Sumber: Raven et al. 2010
            <br/>
            <b>Gambar 3.13</b> Jaringan Meristem Sekunder<br/>
            <u>Gambar ini didukung augmented reality, scan dengan aplikasi Puskurbuk untuk memainkan.</u>
        </small>
    </div>
</div>