<div class="box">

    <div class="row">
        <ul type="none">
            <li>
                <ul type="none">
                    <li>b. Lakukan langkah seperti pada poin c - f pada pengamatan daun
                    nanas kerang (<i>Rhoeo discolor</i>).</li> 
                </ul>
            </li>
        </ul>
        <ol start="5">
            <li><b>Pengamatan pada Batang dan Akar Jagung
                (<i>Zea mays</i>)</b></li>
            
        </ol>
        <ul type="none">
            <li>
            <ol type="a">
                    <li>Buatlah preparat basah dari irisan penampang melintang akar
                    dan batang jagung (<i>Zea mays</i>).</li>
                    <li>Lakukan langkah seperti pada poin c - f pada pengamatan daun
                    nanas kerang (<i>Rhoeo discolor</i>).</li> 
                </ol>
            </li>
        </ul>
    </div>

    <div class="mb-4 text-center">     
        <div>
            <small>
                <b>Tabel 3.3</b> Pengamatan Struktur Jaringan Penyusun Tubuh Tumbuhan
            </small>
        </div>
        <img style="width:80%;" src="content/img/page124/1.png" >
    </div>
    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <ol>
        <li>Berdasarkan hasil pengamatan, bagaimanakah ciri-ciri jaringan
        epidermis?</li>
        <li>Jaringan apakah yang berbentuk serupa duri yang kamu
        temukan pada daun durian?</li>
        <li>Bagaimanakah ciri-ciri jaringan parenkim?</li>
        <li>Pada pengamatan umbi kentang, apakah fungsi lain dari jaringan
        parenkim? Jelaskan buktinya berdasarkan hasil pengamatanmu!</li>
        <li>Coba bandingkan struktur jaringan batang jagung dan batang
        bayam, apakah perbedaannya?</li>
        <li>Coba bandingkan struktur jaringan akar jagung dan batang
        bayam, apakah perbedaannya?</li>
    </ol>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p class="justify">Berdasarkan pengamatan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>

<p class="justify">Setelah kamu melakukan Aktivitas 3.3, kamu akan melihat berbagai
jenis jaringan penyusun tumbuhan. Bagaimana struktur dan fungsi
jaringan tumbuhan tersebut? Untuk memahaminya, simak penjelasan
berikut dengan penuh saksama!</p>