<div class="box">
    <p class="justify"> <b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Amatilah bentuk akar pada kecambah kacang hijau dan
        kecambah jagung.</li>
        <li>Identifikasilah, apakah akar yang diamati termasuk sistem
        perakaran serabut atau sistem perakaran tunggang?</li>
        <li>Buatlah sayatan melintang pada akar dari tumbuhan kacang
        tanah dan jagung menggunakan silet! Usahakan irisan setipis
        mungkin dan berhati-hatilah ketika menggunakan silet, karena
        dapat melukai tanganmu.</li>
        <li>Letakkan sayatan akar pada kaca benda, kemudian tetesi dengan air.</li>
        <li>Tutuplah kedua kaca benda tersebut dengan kaca penutup.</li>
        <li>Amatilah kedua preparat yang telah dibuat menggunakan
        mikroskop dengan perbesaran 40 kali.</li>
        <li>Gambarkan bagian-bagian yang teramati dan beri keterangan
        jaringan yang kamu amati.</li>
        <li>Bandingkan struktur jaringan pada organ akar yang kamu amati
        dengan gambar yang ada pada buku.</li>
        <li>Catatlah data pengamatan pada Tabel 3.4!</li>
    </ol>
    <div class="mb-4 text-center">
        <small>
        <b>Tabel 3.4</b> Hasil Pengamatan Struktur Akar Tumbuhan
        </small>
        <img style="width:80%" src="content/img/page128/1.png">
    </div>
    <p class="justify"> <b>Apa yang perlu kamu diskusikan?</b></p>
    <ol>
        <li>Jaringan apa sajakah yang menyusun akar?</li>
        <li>Sebutkan perbedaan jaringan yang menyusun akar pada tumbuhan kacang hijau dan jagung!</li>
    </ol>
    <p class="justify"> <b>Apa yang dapat kamu simpulkan?</b></p>
    <p class="justify"> Berdasarkan pengamatan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>