<p class="justify no-indent"> 
    epidermis yaitu korteks. Korteks ini tersusun atas jaringan parenkim
    yang dinding selnya tipis dan tersusun renggang. Korteks ini berfungsi
    untuk tempat penyimpanan cadangan makanan bagi tumbuhan.
    Perhatikan Gambar 3.22!
</p>                 
<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page130/1.png">
    <small>
        Sumber: Campbell et al. 2008
        <br/>
        <b>Gambar 3.22</b> Penampang Melintang Akar, (a) Akar Tumbuhan Dikotil,
        (b) Akar Tumbuhan Monokotil
    </small>
</div>
<p class="justify">Lapisan terdalam dari korteks disebut endodermis. Lapisan
    endodermis tersusun atas satu lapis sel yang membatasi korteks
    dengan silinder pusat. Pada endodermis terdapat bentukan seperti pita
    yang disebut <b>pita Kaspari</b>. Pita Kaspari berfungsi untuk mengatur
    jalannya mineral yang diserap oleh akar agar menuju ke silinder pusat.
    Di sebelah dalam endodermis terdapat daerah silinder pusat atau
    stele. Silinder pusat tersusun atas jaringan pengangkut dan jaringan
    pendukung lainnya seperti perisikel dan parenkim empulur. Sel-sel
    perisikel berfungsi untuk membentuk cabang akar. Berkas pengangkut
    pada silinder pusat terdiri atas xilem yang berfungsi mengangkut air
    dan mineral dari tanah menuju batang hingga ke daun dan floem yang
    berfungsi mengangkut makanan hasil fotosintesis dari daun ke seluruh
    tubuh tumbuhan.
</p>

</div>

