<div class="box">
    <ol start="3"> 
        <li> Nampan </li>
        <li> Kecambah kacang tanah/kacang hijau umur 7 hari </li>
        <li> Kecambah jagung umur 7-14 hari </li>
        <li> Kaca benda dan kaca penutup </li>
        <li> Pipet tetes </li>
        <li> Air </li>
    </ol>
    
    <p> <b> Apa yang harus kamu lakukan? </b> </p>

    <ol> 
        <li> Amatilah bentuk batang pada kecambah kacang hijau dan
        kecambah jagung.</li>
        <li> Buatlah sayatan melintang pada batang dari tumbuhan
        kacang hijau dan jagung menggunakan silet! Usahakan irisan
        setipis mungkin. Untuk memperoleh irisan yang tipis, lalukan
        pengirisan dengan arah menuju sumbu tubuh. Berhati-hatilah
        ketika menggunakan silet, karena dapat melukai tanganmu.</li>
        <li>Letakkan sayatan batang pada kaca benda, kemudian tetesi
        dengan air. </li>
        <li> Tutuplah kedua kaca benda tersebut dengan kaca penutup.</li>
        <li> Amatilah kedua preparat yang telah dibuat menggunakan
        mikroskop dengan perbesaran 10 × 10 (100 kali). </li>
        <li> Gambarkan bagian-bagian yang teramati dan beri keterangan
        jaringan yang kamu amati.</li>
        <li>Bandingkan struktur jaringan pada organ batang yang kamu
        amati dengan gambar yang ada pada buku. </li>
        <li> Catatlah data pengamatan pada Tabel 3.5!</li>
    </ol>

    <div class="mb-4 text-center">
        <small><b>Tabel 3.5</b> Hasil Pengamatan Struktur Batang Tumbuhan</small>
        <img style="width:80%" src="content/img/page132/1.png">
    </div>
        
    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <ol> 
        <li> Jaringan apa sajakah yang menyusun batang? </li>
        <li> Sebutkan perbedaan jaringan yang menyusun batang pada tumbuhan kacang hijau dan jagung! </li>
    </ol>
</div>