<div class="box"> 
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan,
    apa yang dapat kamu simpulkan?</p>
</div>

<p>Seperti halnya akar, batang juga memiliki epidermis, korteks, dan
berkas pengangkut. Perhatikan Gambar 3.24! </p>

<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page133/1.png">
    <small>
        Sumber: Campbell <i> et al. </i> 2008<br/>
        <b>Gambar 3.24</b> Penampang Melintang Batang, (a) Batang Dikotil, (b) Batang Monokotil
    </small>
</div>

<p class="justify"> Bagian terluar batang yang masih muda tersusun atas jaringan epidermis. Pada batang tumbuhan dikotil yang sudah dewasa, epidermisakan rusak dan digantikan oleh periderm atau jaringan gabus. Pada bagian yang lebih dalam dari epidermis terdapat korteks. Korteks pada batang juga tersusun atas jaringan parenkim. Pada beberapa tumbuhan, seperti tebu, kentang, dan rimpang kunyit, di daerah korteks inilah cadangan makanan disimpan. Berkas pengangkut pada batang merupakan kelanjutan berkas pengangkut pada akar. Melalui berkas pengangkut ini, air dan mineral yang diserap akar diteruskan oleh berkas pengangkut pada batang untuk menuju daun. Pada batang dikotil, berkas pengangkut tersusun dalam lingkaran, sedangkan pada batang monokotil, berkas pengangkut tersebar. Antara xilem dan floem pada berkas pengangkut tumbuhan dikotil terdapat kambium vaskuler yang aktif membelah. Masih ingatkah kamu jaringan yang dibentukoleh pembelahan meristem tersebut? </p>