<h4><span>5</span>Struktur dan Fungsi Jaringan pada Daun</h4>

<p class="justify"> Masih ingatkah kamu fungsi daun? Daun memiliki beberapa
fungsi, antara lain untuk mengambil gas karbon dioksida (CO2) yang
digunakan untuk fotosintesis, mengatur penguapan air (transpirasi),
dan pernapasan (respirasi) tumbuhan. Bagaimana daun tumbuhan
mampu melakukan fungsi tersebut? Coba perhatikan Gambar 3.25! </p>

<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page134/2.png">
    <div>
        <small> Sumber: Raven <i> et al. </i> 2010<br/>
        <b> Gambar 3.25 </b>Penampang Melintang Batang</small>
    </div>
</div>

<p class="justify">  Pada permukaan atas dan bawah daun terdapat jaringan yang disebut epidermis. Jaringan ini berfungsi melindungi jaringan di dalam daun. Pada beberapa tumbuhan, daun juga dilapisi oleh lapisan lilin yang disebut kutikula yang berfungsi untuk mengurangi penguapan. Sel-sel epidermis dapat mengalami modifikasi menjadi stomata, sisik, dan rambut-rambut. Stomata dapat membuka dan menutup, menyesuaikan kondisi lingkungan. Pada tumbuhan umumnya, saat siang hari stomata membuka, sehingga karbon dioksida dapat masuk ke dalam daun untuk digunakan dalam fotosintesis. Pada tumbuhan yang hidup di daerah kering, misalnya kaktus, stomata menutup saat siang hari. Hal ini dilakukan agar tidak banyak air dalam tubuh yang hilang karena menguap lewat stomata. Pada tumbuhan tersebut stomata baru membuka saat malam hari. </p> 