<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page135/1.png">
    <div>
        <small> Sumber: Dok. Kemendikbud <br/>
        <b> Gambar 3.26 </b>Stomata pada Daun <i> Rhoeo discolor </i> </small>
    </div>
</div>

<p class="justify"> Tahukah kamu pada bagian mana fotosintesis terjadi? Coba perhatikan kembali Gambar 3.25. Di bawah lapisan epidermis atas terdapat jaringan yang berbentuk silinder, tersusun padat menyerupai tiang, dan banyak mengandung klorofil. Jaringan ini disebut jaringan palisade atau jaringan tiang. Di bawah jaringan palisade terdapat jaringan bunga karang, tersusun dari sel-sel yang bentuknya tidak teratur, tersusun longgar, dan juga mengandung klorofil. Kedua jaringan ini merupakan jaringan mesofil. Jaringan mesofil ini sebenarnya merupakan jaringan parenkim yang mengandung klorofil. Di dalam jaringan mesofil inilah terjadi proses fotosintesis. Pada tumbuhan monokotil, mesofil tidak berdiferensiasi menjadi jaringan palisade dan jaringan bunga karang, tetapi tersusun atas sel-sel parenkim yang mengandung klorofil yang memiliki ukuran seragam. Di dalam daun juga terdapat jaringan xilem yang membawa air dan mineral dari batang dan jaringan floem yang berfungsi membawa hasil fotosintesis dari daun untuk disalurkan ke seluruh tubuh tumbuhan. </p>

<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Klorofil (C<sub>55</sub>H<sub>72</sub>O<sub>5</sub>N<sub>4</sub>Mg) atau disebut juga zat hijau daun sangat efektif menyerap cahaya warna merah, biru, dan ungu. Klorofil memantulkan atau meneruskan cahaya warna hijau dan sedikit kuning. Cahaya hijau dan sedikit kuning yang dipantulkan atau diteruskan ini akan ditangkap oleh mata manusia sehingga manusia melihat bahwa daun berwarna hijau kekuningan. </p>     
</div>