<div class="box">
    <center>
        <h3>Rangkuman</h3>
    </center>
    <ol>
        <li>Organ vegetatif merupakan organ tumbuhan yang berfungsi
        mendukung pertumbuhan dan perkembangan tumbuhan,
        terutama berguna untuk penyerapan, pengolahan, pengangkutan,
        dan penimbunan zat-zat makanan.</li>
        <li>Organ vegetatif tumbuhan berpembuluh terdiri atas akar,
        batang, dan daun.</li>
        <li>Akar berfungsi untuk menambatkan tubuh tumbuhan pada
        tanah atau medium tumbuhnya dan menyerap air dan mineral
        dalam tanah atau pada medium tumbuhnya.</li>
        <li>Batang berfungsi untuk menyokong bagian-bagian tumbuhan
        yang berada di atas tanah, sebagai jalan pengangkutan air
        dan mineral dari akar menuju daun, dan jalan pengangkutan
        makanan dari daun ke seluruh tubuh tumbuhan.</li>
        <li>Daun berfungsi untuk mengambil gas karbon dioksida (CO2)
        yang digunakan sebagai sumber (bahan baku) dalam fotosintesis,
        mengatur penguapan air (transpirasi), dan pernapasan
        (respirasi) tumbuhan.</li> 
        <li>Jaringan meristem adalah jaringan yang sel-selnya aktif
        membelah diri secara mitosis. Jaringan meristem dapat
        dikelompokkan menjadi dua macam, yaitu meristem primer
        (menyebabkan pertumbuhan memanjang) dan meristem
        sekunder (menyebabkan pertumbuhan melebar).</li> 
        <li>Jaringan dewasa berasal dari pembelahan sel-sel meristem
        primer dan sel-sel meristem sekunder, yang telah mengalami
        diferensiasi. Jaringan dewasa dapat dibedakan menjadi jaringan
        pelindung (epidermis), jaringan dasar (parenkim), jaringan
        penyokong (kolenkim dan sklerenkim), dan jaringan pengangkut
        (xilem dan floem).</li>
    </ol>
</div>