<div class="box">
    <ol start="8">
        <li>Jaringan pelindung berfungsi untuk melindungi bagian dalam
        tumbuhan dari berbagai pengaruh luar yang merugikan,
        contohnya adalah jaringan epidermis.</li>
        <li>Jaringan dasar atau jaringan pengisi memiliki fungsi penting
        dalam semua proses fisiologi (metabolisme) pada tumbuhan,
        contohnya adalah jaringan parenkim.</li>
        <li>Jaringan penyokong berfungsi untuk memberi bentuk tubuh
        tumbuhan, contohnya adalah jaringan kolenkim dan sklerenkim.</li>
        <li>Jaringan pengangkut terdiri atas jaringan xilem dan jaringan
        floem. Xilem berfungsi untuk mengangkut air dan zat-zat
        terlarut di dalamnya dari akar menuju daun. Floem berfungsi
        untuk mengangkut makanan hasil fotosintesis dari daun ke
        seluruh tubuh tumbuhan.</li>
        <li>Fotosintesis terjadi pada jaringan palisade dan jaringan bunga
        karang, yang banyak ditemukan di daun.</li>
        <li> Struktur organ dan jaringan tumbuhan tersebut menginspirasi
        manusia untuk mengembangkan berbagai teknologi, seperti
        panel surya (solar cell), sensor cahaya, lapisan pelindung dan
        pengilap mobil, dan alat pemurnian air</li> 
    </ol>
</div>