<h3>Uji Kompetensi</h3>
<p><b>A. Pilihlah satu jawaban yang paling tepat!</b></p>
<ol>
    <li>Rambut atau bulu akar hanya terdapat pada bagian akar yang
    masih muda yang merupakan penonjolan atau diferensiasi dari
    jaringan ....</li>
    
        <ol type="A">
            <li>korteks</li>
            <li>epidermis</li>
            <li>epidermis</li>
            <li>silinder pusat</li>
        </ol>
    </li>
</ol>
<ol start="2">
    <li>Umur pohon dapat dilihat dari garis-garis yang menunjukkan hasil
    kegiatan dari suatu masa pertumbuhan. Garis-garis itu disebut ....</li>
    
        <ol type="A">
            <li>xilem</li>
            <li>felogen</li>
            <li>parenkim kayu</li>
            <li>lingkaran tahun</li>
        </ol>
</ol>
<ol start="3">
    <li>Perbedaan berkas pengangkut pada batang monokotil dengan
    batang dikotil adalah ....</li>
    
        <ol type="A">
            <li>berkas pengangkut pada dikotil tidak memiliki kambium</li>
            <li>berkas pengangkut pada monokotil tersusun beraturan</li>
            <li>berkas pengangkut pada dikotil tersusun tidak beraturan</li>
            <li>berkas pengangkut pada dikotil dipisahkan oleh kambium</li>
        </ol>
</ol>
<ol start="4">
    <li>Perhatikan anatomi daun berikut!</li>
    
</ol>
<div class="mb-4">
    <img style="width:50%" src="content/img/page149/2.png">    
</div>