<ul type="none">
    <li>Jaringan yang ditunjukkan oleh huruf X merupakan salah satu
    jaringan penyusun daun. Jaringan X disebut jaringan ... dan
    berfungsi untuk ....<li>
                    
        <ol type="A">
            <li>palisade, berperan dalam fotosintesis</li>
            <li>palisade, berperan dalam pengangkutan air</li>
            <li>bunga karang, berperan dalam fotosintesis</li>
            <li>bunga karang, berperan dalam pengangkutan air</li>
        </ol>
    </li>
</ul>
<div class="row">
    <div class="col-8">
        <ol start="5">
            <li>Perhatikan gambar anatomi akar di samping!
            Berdasarkan gambar, fungsi dari struktur X
            adalah ....</li>
                                
                <ol type="A">
                    <li>melindungi akar ketika menembus tanah</li>
                    <li>mengangkut air dan unsur hara dari tanah</li>
                    <li>menopang pohon untuk tetap dapat berdiri</li>
                    <li>memperluas daerah penyerapan air dan
                    unsur hara dari tanah</li>
                </ol>
        </ol>
        <ol start="6">
            <li>Berikut ini, bagian-bagian akar yang dilalui
                oleh air tanah secara berturut turut adalah ....</li>
            
                <ol type="A">
                    <li>epidermis rambut akar – parenkim –
                    endodermis – xilem akar</li>
                    <li>epidermis rambut akar – endodermis –
                    parenkim – xilem akar</li>
                    <li>epidermis rambut akar – kambium –
                    parenkim – xilem akar</li>
                    <li>kulit luar – kambium –endodermis – xilem akar</li>
                </ol>
        </ol>
    </div>
    <div class="col-4">
        <div class="mb-4">
            <img style="width:100%" src="content/img/page150/1.png">
            <small>
                Sumber: Campbell et al. 2008
            </small>    
        </div>
    </div>
</div>
<ol start="7">
    <li>Sehelai daun ditutupi sebagian dengan kertas timah, lalu
    diletakkan di tempat yang terkena cahaya matahari selama 24 jam.
    Daun tersebut kemudian dipetik dan dilakukan uji iodium pada
    permukaan atas daun. Proses tersebut merupakan cara untuk ....</li>
                    
    <ol type="A">
        <li>mengetahui bahwa hasil fotosintesis adalah amilum</li>
        <li>mengetahui bahwa klorofil diperlukan dalam fotosintesis</li>
        <li>mengetahui bahwa pada fotosintesis terbentuk gas oksigen</li>
        <li>mengetahui bahwa amilum terdapat pada seluruh bagian daun</li>
    </ol>
    
</ol>