<ol start="8">
    <li>Perhatikan gambar di bawah!</li>
</ol>
<div class="mb-4">
    <img style="width:50%" src="content/img/page151/1.png">   
</div>

<ul type="none">
    <li>Bagian yang berfungsi sebagai jaringan pengangkut ditunjukkan
        pada bagian bernomor ....</li>
        <ol type="A">
            <li>1 dan 3</li>
            <li>2 dan 5</li>
            <li>3 dan 4</li>
            <li>3 dan 5</li>
        </ol>
    </li>
</ul>

<ol start="9">
    <li>Berikut ini merupakan teknologi yang terinspirasi dari proses
    fotosintesis yang terjadi dalam daun adalah ....</li>
                        
        <ol type="A">
            <li>panel surya</li>
            <li>alat pemurnian air</li>
            <li>light-dependent resistor</li>
            <li>lapisan pengilap cat mobil</li>
        </ol>
</ol>
<ol start="10">
    <li>Lapisan pelindung pada daun tumbuhan yang menginspirasi
    pembuatan lapisan pengilap cat mobil adalah ....</li>
    
    <ol type="A">
        <li>floem</li>
        <li>kutikula</li>
        <li>endodermis</li>
        <li>rambut akar</li>
    </ol>
</ol>