<p>
    Maha Besar Tuhan yang telah memberikan negara kita sumber daya alam yang melimpah. Indonesia merupakan negara agraris yang
    sangat subur serta memiliki potensi alam yang luar biasa. Berbagai jenis tumbuhan sebagai penyedia makanan pokok bagi
    manusia dapat dengan mudah kamu temukan seperti padi, jagung, sagu, dan berbagai macam umbi. Bahan-bahan pokok ini berfungsi
    sebagai sumber karbohidrat yang merupakan pemasok energi utama tubuhmu. Selain itu, berbagai jenis buah-buahan dan sayuran
    sebagai sumber vitamin dan mineral juga tumbuh subur di sekitar kita.
</p>

<video class="mb-4 d-print-none" style="width:100%;" controls>
    <source src="assets/videos/Nutrisi.mp4" type="video/mp4">
</video>

<p>
    Makanan merupakan sumber energi utama bagi makhluk hidup, tanpa makanan yang masuk ke dalam tubuh, manusia dapat mati karena
    tidak punya energi untuk bertahan hidup. Coba pikirkan apa yang akan terjadi jika kamu tidak makan selama sehari saja?
    Tentu tubuhmu akan lemas dan tidak berenergi. Begitu penting peran makanan, oleh karena itu kamu harus tahu apa saja
    jenis makanan dan kandungan gizi di dalamnya. Sebagai peserta didik yang belajar IPA kamu juga harus tahu bagaimana makanan-makanan
    tersebut dicerna dalam tubuhmu serta apa saja makanan yang baik untuk tubuhmu. Untuk mengetahui semua itu, ayo pelajari
    materi ini dengan cermat.
</p>

<h3>
    <span>A</span>Nutrisi
</h3>

<img style="width:90%;" class="mb-3" src="content/img/free-1.png" alt="" />

<p>
    Coba perhatikan aktivitasmu sehari-hari, hampir setiap hari kamu harus belajar di sekolah, mengerjakan tugas, atau melakukan
    kegiatan ekstrakurikuler di sekolah. Tentu kamu membutuhkan banyak energi untuk menunjang semua kegiatanmu itu. Pada
    masa-masa pertumbuhan ini, kamu membutuhkan asupan nutrisi yang cukup untuk menunjang pertumbuhanmu. Ketika kamu lapar,
    makanan apakah yang kamu pilih? Makanan yang sesuai dengan seleramu atau memilih makanan berdasarkan nilai gizinya?
</p>