<div class="row">
    <div class="col">
        <p>
            Perhatikan Gambar 4.1! Banyak orang-orang yang lebih mementingkan rasa suatu makanan daripada nilai gizi yang terkandung
            di dalam makanan. Sepotong roti tawar akan mudah kita santap, namun hanya memberikan beberapa nutrisi yang kita
            butuhkan.
        </p>
        <p>
            Tahukah Gambar 4.1 Peserta Didik Memilih kamu bahwa nutrisi pada makanan Makanan berperan dalam memberikan energi dan bahan
            untuk perkembangan, pertumbuhan, dan perbaikan sel tubuh
        </p>
    </div>
    <div class="col">
        <img style="width:100%;" src="content/img/gbr-4.1.png" alt="" />
        <small>
            Sumber: Dok. Kemdikbud
            <br/> <b>Gambar 4.1</b> Peserta Didik Memilih Makanan
        </small>
    </div>
</div>

<video class="mb-4 d-print-none" style="width:100%;" controls>
    <source src="http://localhost/projects/Mg%20nutrisi.mp4" type="video/mp4">
</video>

<p>
    Oleh karena itu, memilih makanan dengan kandungan nutrisi yang tepat sangat penting untuk kamu ketahui. Pernahkah kamu memerhatikan
    kandungan nutrisi apa saja yang ada pada makanan yang sering kamu makan? Agar kamu mengetahuinya, ayo lakukan aktivitas
    berikut ini!
</p>

<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 4.1 Mengident</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p> 
    <ol>
        <li>Kemasan produk mi instan</li> 
        <li>Beberapa kemasan produk makanan ringan yang kamu sukai</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Bekerjalah dengan teman satu kelompokmu</li>
        <li>Amati bagian komposisi bahan makanan yang ada pada produk yang kamu bawa </li>
        <li>Tuliskan bahan-bahan apa saja yang menyusun produk tersebut </li>
        <li>Tentukan kandungan zat makanan apa yang ada pada tiap bahan penyusun produk tersebut </li>
        <li>Masukkan data kamu pada Tabel 4.1!</li>
    </ol>

</div>