<h4>
    <span>1</span>Kebutuhan Energi
</h4>

<p>
    Pernahkah kamu berpikir apakah fungsi energi bagi tubuhmu? Tubuhmu membutuhkan energi untuk setiap kegiatan, seperti belajar,
    berjalan ke sekolah, dan membaca buku. Tubuhmu juga menggunakan energi untuk mempertahankan suhu tubuh normal sekitar
    37&#8451;. Energi ini berasal dari makanan yang kamu makan. Jumlah energi yang dibutuhkan oleh tubuh untuk aktivitas
    tersebut menggunakan satuan kalori. Sama halnya pada tubuh, jumlah energi yang tersedia dalam makanan juga diukur dalam
    satuan kalori. Satu satuan kalori (kal) menunjukkan jumlah energi yang dibutuhkan untuk menaikkan suhu 1 gram air sebesar
    1&#8451;. 1 kilokalori (kkal) sama dengan 1.000 kalori (kal) sama dengan 4.200 joule (J). Perhatikan Gambar 4.2! Apakah
    dalam 1 gram makanan tersebut mengandung jumlah kalori yang sama?
</p>

<div class="text-center" style="width:80%;margin:auto;">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="content/img/gbr-4.2-bagian1.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="content/img/gbr-4.2-bagian2.png" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="content/img/gbr-4.2-bagian3.png" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br/>

    <small>
        Sumber: Dok. Kemdikbud
        <br/> <b>Gambar 4.2</b>Makanan yang Berfungsi sebagai Sumber Energi, (a) Nasi, (b) Roti, (c) Pisang
    </small>
</div>

<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Tahukah kamu cara mengetahui berapa jumlah kalori yang terkandung dalam makanan? Cara yang dapat digunakan untuk mengetahui
    jumlah kalori yang terkandung dalam setiap gram makanan adalah dengan menggunakan kalorimeter. Kalorimeter merupakan alat
    yang terdiri atas wadah logam yang direndam dengan sejumlah air yang diketahui volumenya. Sampel makanan kering dengan berat
    tertentu diletakkan pada sebuah tempat di dalam wadah. Wadah tersebut kemudian diisi dengan oksigen dan direndam dengan air.
    Selanjutnya makanan tersebut dipanaskan</p>
</div>