<div class="box">
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page16/1.png"><img style="width:60%;" src="content/img/page16/1.png"></a>
        <div>
            <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.13</b> Rangkaian Balok, Katrol, dan Tali</small>
        </div>
    </div>
    <p>Jika massa balok A sama dengan massa balok B (m A = m B = m), pilihlah jawaban yang benar dari masing-masing pertanyaan dibawah ini! (Lingkari jawaban yang benar)</p>
    <ol type="a">
        <li>Massa sistem (A + B) adalah <b>[m] [2 m]</b></li>
        <li>Gaya yang bekerja pada sistem adalah berat balok <b>[A] [B] [A+B]</b></li>
        <li>Gaya berat balok B adalah <b>mg [mg] [2 mg]</b></li>
        <li>Besar percepatan sistem adalah <b>[kurang dari g] [g] [lebih besar dari g]</b></li>
    </ol>
    <p>Ingat! Bahwa g adalah percepatan gravitasi bumi yang besarnya adalah 10 m/s 2 .</p>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan tentang Hukum II Newton?</p>
</div>

<p>Percobaan tersebut membuktikan bahwa percepatan gerak
sebuah benda berbanding lurus dengan gaya yang diberikan, namun
berbanding terbalik dengan massanya atau dapat dirumuskan: <br>
<div class="text-center">
    <a data-fancybox="gallery" href="content/img/page16/2.png"><img style="width:15%;" class="mb-3" src="content/img/page16/2.png"></a>
</div></p>

<p>Di dalam kehidupan sehari-hari kita sering menemui fakta bahwa
pada saat memindahkan balok (Gambar 1.14), akan lebih cepat jika gaya
yang dikenakan semakin besar. Hal ini dikarenakan gaya berbanding
lurus dengan percepatan. Jadi, dengan gaya yang besar maka akan
didapatkan percepatan yang lebih besar juga.</p>