<img style="width:90%;" src="content/img/free-6.png" alt="">

<h4>
    <span>2</span>Jenis Nutrisi</h4>
<p>
    Makanan yang kamu konsumsi seharusnya tidak hanya sekedar mengenyangkan tetapi harus mengandung nutrisi atau gizi. Nutrisi
    atau gizi adalah zat yang dibutuhkan makhluk hidup sebagai sumber energi, mempertahankan kesehatan, pertumbuhan, dan
</p>