<img style="width:100%;" class="img-responsive" src="content/img/tab-4.7.png" alt="">
<img style="width:100%;" class="img-responsive" src="content/img/act-4.3.png" alt="">
<br/>
<br/> Apa yang kamu perlukan?
<ol>
    <li>Tabung reaksi (satu tabung per sampel uji)</li>
    <li>Penjepit tabung reaksi</li>
    <li>Rak tabung reaksi</li>
    <li>Termometer</li>
    <li>Mortar dan alu (pestle)</li>
    <li>Pipet tetes</li>
    <li>Gelas kimia</li>
    <li>Kertas label</li>
    <li>Air panas</li>
    <li>Kaki Tiga</li>
    <li>Pembakar spiritus</li>
    <li>Larutan bahan makanan yang akan diuji (beberapa bahan makanan yang diduga mengandung pati, gula, dan protein)</li>
</ol>
</p>

<p>a. Uji Bahan Makanan yang Mengandung Amilum</p>
Reagen kalium iodida (KI) atau lugol digunakan untuk menguji bahan makanan yang mengandung amilum. Reagen ini berwarna oranye.
Setelah sampel yang diuji ditetesi reagen KI, akan terjadi perubahan warna. Apabila sampel berubah warna menjadi biru tua
berarti bahan makanan tersebut mengandung amilum.