<h5>
    <span>f</span>Air</h5>

<p>Apakah kamu pernah olahraga pada siang hari yang panas? Apa yang kamu rasakan? Kamu mungkin merasa haus, selanjutnya kamu
    akan mencari air minum. Air penting bagi tubuhmu untuk menjaga kelangsungan hidup. Kamu tentu lebih dapat menahan lapar
    daripada menahan haus. Mengapa demikian? Karena sel-sel tubuhmu membutuhkan air untuk beraktivitas. Di samping itu, nutrisi
    yang masuk ke tubuh kamu tidak dapat digunakan oleh sel-sel tubuh bila tidak terlarut dalam air.</p>

<p>Sekitar 60-80% sel tubuh makhluk hidup terdiri atas air. Tubuh dapat kehilangan air ketika bernapas, berkeringat, buang air
    besar maupun air kecil. Kehilangan air tersebut harus segera diganti dengan minum air sebanyak 2 liter atau 8 gelas sehari.
    Namun, minum air bukan satu-satunya cara untuk memasok sel-sel dengan air, karena tanpa kita sadari makanan yang kita
    makan mengandung banyak air. Contoh apel mengandung 80% air dan daging mengandung 66% air. Perhatikan Gambar 4.9!</p>

<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/img-4.9.png">
</div>

<p>Air dibutuhkan oleh tubuh sebagai pembentuk sel dan cairan tubuh, pengatur suhu tubuh, pelarut zat-zat gizi lain dan pembantu
    proses pencernaan makanan, pelumas dan bantalan, media transportasi, dan media pengeluaran sisa metabolisme.</p>