<h3>
    <span>B</span>Struktur dan Fungsi Pencernaan Makanan</h3>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/free-9.png">
</div>

<p>Masih ingatkah kamu bahwa makanan diperlukan oleh tubuh untuk memasok energi? Makanan diproses dalam tubuh melalui empat
    tahap yaitu: ingesti (proses memasukkan makanan ke dalam mulut), digesti (pencernaan), absorpsi (penyerapan), dan defekasi
    (pengeluaran). Pada saat makanan masuk ke dalam mulut, proses pencernaan dimulai. Pencernaan merupakan proses memecah
    makanan menjadi molekul kecil sehingga dapat diserap oleh tubuh melalui pembuluh darah. Selanjutnya, molekul makanan
    dari darah masuk ke dalam sel melintasi membran sel. Molekul yang tidak digunakan dan dibutuhkan oleh tubuh akan dikeluarkan
    dari tubuh melalui sistem ekskresi seperti keringat dan urine. Makanan yang tidak tercerna berupa feses akan dibuang
    melalui anus, proses ini disebut defekasi.</p>
<p>Pencernaan makanan terbagi atas dua macam, yaitu pencernaan mekanis dan pencernaan kimiawi. Pencernaan mekanis terjadi ketika
    makanan dikunyah, dicampur, dan diremas. Pencernaan mekanis salah satu contohnya terjadi di dalam mulut yaitu pada saat
    makanan dihancurkan oleh gigi. Pada pencernaan kimiawi, terjadi reaksi kimia yang menguraikan molekul besar makanan menjadi
    molekul yang lebih kecil. Pencernaan kimiawi pada proses pencernaan biasanya dilakukan dan dibantu oleh enzim-enzim pencernaan,
    seperti enzim amilase pada makanan mulut. Perhatikan Gambar 4.10!</p>