<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/img-4.10.png">
</div>

<h4><span>1</span>Organ Pencernaan Utama</h4>

<video style="width:100%;" controls class="mb-4 d-print-none">
    <source src="assets/videos/Sistem_Pencernaan.mp4" type="video/mp4">
</video>

<div class="row">
    <div class="col">
        <p>Sistem pencernaan manusia terdiri atas organ utama berupa saluran pencernaan dan organ aksesori (tambahan). Saluran
        pencernaan merupakan saluran yang dilalui bahan makanan yang dimulai dari mulut, kerongkongan, lambung, usus
        halus, usus besar, rektum, dan berakhir di anus. Perhatikan Gambar 4.11!</p>
        <p>Lidah, gigi, kelenjar air ludah (kelenjar saliva), hati, kantung empedu, dan pankreas merupakan organ aksesori yang
        membantu pencernaan mekanis dan kimiawi. Kelenjar pencernaan adalah organ aksesori yang mengeluarkan enzim untuk
        membantu mencerna makanan.</p>
    </div>
    <div class="col">
        <div class="text-center mb-4">
            <img style="width:80%;" src="content/img/img-4.11.png">
            <br/>
            <small>Sumber: Reece et al. 2012
            <br/> Gambar 4.11 Organ Penyusun Sistem Pencernaan Manusia</small>
        </div>
    </div>
</div>

<!-- Modal 
<div class="modal" id="animasi" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <video style="width:100%;" controls>
                <source src="assets/videos/Sistem_Pencernaan.mp4" type="video/mp4">
            </video>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
-->