<div class="text-center mb-4">
    <img style="width:50%;" src="content/img/sistem-pencernaan.jpg" alt="">
    <br/>
    <small>
        <b>Ilustrasi</b> Sistem Pencernaan
        <br/>Sorot object ini dengan handphone mu</small>
</div>

<p>Untuk lebih jelasnya akan kamu pelajari sistem pencernaan yang meliputi saluran pencernaan dan organ aksesori antara lain
    sebagai berikut.</p>

<h5>
    <span>a</span>Mulut</h5>

<div class="row">
    <div class="col">
        <p>Masih ingatkah kamu bahwa pencernaan ingesti terjadi di mulut? Perhatikan Gambar 4.12! Di dalam mulut, terdapat gigi,
            lidah, dan kelenjar air liur (saliva). Air liur mengandung mukosa atau lendir, senyawa yang berfungsi sebagai
            anti bakteri, dan enzim amilase atau dikenal dengan enzim ptialin. Enzim ini akan memecah molekul amilum menjadi
            molekul maltosa. Di dalam mulut terjadi pencernaan makanan secara mekanis dan kimiawi.</p>
    </div>
    <div class="col">
        <div class="">
            <img style="width:100%;" src="content/img/img-4.12.png">
        </div>
        <small>Sumber: Reece et al. 2012 Gambar 4.12 Rongga Mulut</small>
    </div>
</div>

<img style="width:100%;" src="content/img/free-11.png">