<div class="row">
    <div class="col">
        <p>(memecah) protein menjadi pepton (campuran dari polipeptida dan asam amino). Enzim renin akan mengendapkan protein
            kasein yang terdapat dalam susu. Setelah melalui proses pencernaan selama 2-4 jam di dalam lambung, bolus menjadi
            bahan kekuningan yang disebut kimus (bubur usus). Kimus akan masuk sedikit demi sedikit ke dalam usus dua belas
            jari. Pengaturan ini dibantu oleh adanya sfingter, yaitu otot-otot yang tersusun melingkar antara lambung dan
            usus dua belas jari.</p>
    </div>
    <div class="col">
        <img src="content/img/img-4.14.png">
        <br>
        <small>Sumber: Shier et al. 2010
            <br/> Gambar 4.14 Struktur Lambung</small>
        pada Manusia
    </div>
</div>

<h5>
    <span>d</span>Usus Halus</h5>

<div class="row">
    <div class="col">
        <p>Perhatikan Gambar 4.15! Usus halus memiliki panjang sekitar 8,25 meter. Usus halus terdiri atas tiga bagian yaitu,
            usus 12 jari (duodenum) dengan panjang sekitar 0,25 meter, usus tengah (jejunum) dengan panjang sekitar 7 meter,
            dan usus penyerapan (ileum) dengan panjang sekitar 1 meter. Dalam usus halus terjadi pencernaan secara kimiawi
            saja. Pada duodenum terdapat saluran yang terhubung dengan kantung empedu dan pankreas. </p>
    </div>
    <div class="col">
        <img src="content/img/img-4.15.png">
        <br>
        <small>
            <br>Sumber: Longenbaker, 2010 Gambar 4.15
            <br/>Struktur Usus Halus dan Bagian-bagiannya</small>
    </div>
</div>

<p>Getah pankreas mengandung enzim lipase, amilase, dan tripsin. Enzim lipase akan mencerna lemak menjadi asam lemak dan gliserol.
    Amilas akan mencerna amilum menjadi maltosa. Tripsin akan mencerna protein menjadi polipeptida. Getah empedu yang dihasilkan
    hati akan mengemulsikan lemak yakni membuat lemak agar larut dalam air.</p>

<p>Pencernaan makanan dilanjutkan di jejunum. Pada bagian ini terjadi pencernaan terakhir sebelum zat-zat makanan diserap. Zat-zat
    makanan setelah melalui jejunum menjadi bentuk yang siap diserap.</p>