<div class="row">
    <div class="col">
        <p>Bahan makanan yang tidak dapat tercerna, misalnya selulosa. Usus besar berfungsi mengatur kadar air pada sisa makanan.
            Bila kadar air pada sisa makanan terlalu banyak, maka dinding usus besar akan menyerap kelebihan air tersebut.
            Sebaliknya bila sisa makanan kekurangan air, maka dinding usus besar akan mengeluarkan air dan mengirimnya ke
            sisa makanan. Di dalam usus besar terdapat banyak sekali bakteri Escherichia coli yang membantu membusukkan sisa-sisa
            makanan tersebut. Bakteri Escherichia coli mampu membentuk vitamin K dan B12.</p>
    </div>
    <div class="col">
        <div class="mb-4 text-center">
            <img style="width:80%;" src="content/img/img-4.17.png">
            <br>
            <small>Sumber: Tortora, 2008
                <br/>Gambar 4.17 Struktur Usus Besar pada Manusia</small>
        </div>
    </div>
</div>

<p>Sisa makanan yang tidak terpakai oleh tubuh beserta gas-gas yang berbau disebut tinja (feses) dan dikeluarkan melalui anus.
    Setelah kamu mengetahui organ-organ pencernaan serta bagaimana proses pencernaan yang terjadi di dalamnya. Coba lakukan
    aktivitas berikut ini untuk menambah pemahamanmu.</p>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/free-12.png">
</div>