<h3>Uji Kompetensi</h3>

<div class="mb-4">
    <b>A. Pilihlah satu jawaban yang paling tepat!</b>
</div>

<div class="mb-4">
    1. Bahan makanan yang dikonsumsi setiap hari harus mengandung sejumlah besar bahan ....
    <br/>
    <br/>
    <input type="radio" name="soal[1]" value="vitamin dan air"> vitamin dan air
    <br>
    <input type="radio" name="soal[1]" value="air dan mineral"> air dan mineral
    <br>
    <input type="radio" name="soal[1]" value="protein dan mineral"> protein dan mineral
    <br>
    <input type="radio" name="soal[1]" value="karbohidrat dan protein"> karbohidrat dan protein
    <br>
</div>

<div class="mb-4">
    2. Ketika melakukan uji makanan dengan Biuret, tampak muncul warna ungu pada bahan makanan. Hal ini menunjukkan ....
    <br/>
    <br/>
    <input type="radio" name="soal[2]" value=""> makanan mengandung lemak
    <br/>
    <input type="radio" name="soal[2]" value=""> makanan mengandung protein
    <br/>
    <input type="radio" name="soal[2]" value=""> makanan mengandung cukup air
    <br/>
    <input type="radio" name="soal[2]" value=""> makanan tidak mengandung karbohidrat
    <br/>
</div>

<div class="mb-4">
    3. Ketika Siti membeli makanan di warung, penjualnya membungkus dengan menggunakan kertas, ternyata pada kertas tampak noda
    yang membuat kertas jadi terlihat transparan. Hal ini dapat terjadi karena ....
    <br/>
    <br/>
    <input type="radio" name="soal[3]" value=""> karbohidrat dari makanan bereaksi dengan kertas
    <br/>
    <input type="radio" name="soal[3]" value=""> lemak dalam makanan tersebut mengubah sifat kertas
    <br/>
    <input type="radio" name="soal[3]" value=""> kertas tidak cocok untuk pembungkus makanan berprotein tinggi
    <br/>
    <input type="radio" name="soal[3]" value=""> makanan tersebut sudah kedaluwarsa karena mengubah sifat kertas
    <br/>
</div>

<div class="mb-4">
    4. Seseorang yang hanya mengonsumsi nasi saja dalam menu makanannya menjadi tidak sehat, karena ....
    <br/>
    <br/>
    <input type="radio" name="soal[4]" value=""> dalam jumlah banyak, nasi akan merusak sistem pencernaan
    <br/>
    <input type="radio" name="soal[4]" value=""> nasi tidak mengandung cukup protein dan lemak untuk tubuh
    <br/>
    <input type="radio" name="soal[4]" value=""> nasi termasuk bahan yang tidak dapat dicerna dengan sempurna
    <br/>
    <input type="radio" name="soal[4]" value=""> nasi tidak mengandung cukup karbohidrat untuk aktivitas normal tubuh
    <br/>
</div>