<div class="mb-4">
    5. Pada saat masa pertumbuhan sebaiknya seorang anak mendapat asupan bahan makanan yang banyak mengandung ....
    <br/>
    <br/>
    <input type="radio" name="soal[5]" value=""> lemak
    <br/>
    <input type="radio" name="soal[5]" value=""> protein
    <br/>
    <input type="radio" name="soal[5]" value=""> mineral
    <br/>
    <input type="radio" name="soal[5]" value=""> karbohidrat
    <br/>
</div>

<div class="mb-4">
    6. Saat berpuasa kadar gula dalam darah menjadi rendah. Makanan yang paling cocok untuk segera memulihkan kondisi tubuh adalah
    ....
    <br/>
    <br/>
    <input type="radio" name="soal[6]" value=""> daging
    <br/>
    <input type="radio" name="soal[6]" value=""> putih telur
    <br/>
    <input type="radio" name="soal[6]" value=""> air gula
    <br/>
    <input type="radio" name="soal[6]" value=""> kuning telur
    <br/>
</div>

<div class="mb-4">
    7. Sistem pencernaan yang melakukan gerak peristaltik pertama adalah ...
    <br/>
    <br/>
    <input type="radio" name="soal[7]" value=""> usus
    <br/>
    <input type="radio" name="soal[7]" value=""> mulut
    <br/>
    <input type="radio" name="soal[7]" value=""> lambung
    <br/>
    <input type="radio" name="soal[7]" value=""> kerongkongan
    <br/>
</div>

<div class="mb-4">
    8. Organ pencernaan yang bersifat sangat asam, bertugas untuk membunuh bakteri dan mencerna protein adalah ....
    <br/>
    <br/>
    <input type="radio" name="soal[8]" value=""> mulut
    <br/>
    <input type="radio" name="soal[8]" value=""> lambung
    <br/>
    <input type="radio" name="soal[8]" value=""> usus halus
    <br/>
    <input type="radio" name="soal[8]" value=""> usus besar
    <br/>
</div>

<div class="mb-4">
    9. Pencernaan pada tubuh manusia meliputi pencernaan ....
    <br/>
    <br/>
    <input type="radio" name="soal[9]" value=""> biologis dan kimiawi
    <br/>
    <input type="radio" name="soal[9]" value=""> mekanis dan kimiawi
    <br/>
    <input type="radio" name="soal[9]" value=""> mekanis dan biologis
    <br/>
    <input type="radio" name="soal[9]" value=""> kimiawi dan enzimatis
    <br/>
</div>

<div class="mb-4">
    10. Proses pemecahan karbohidrat dalam tubuhmu terjadi pada ....
    <br/>
    <br/>
    <input type="radio" name="soal[10]" value=""> mulut dan lambung
    <br/>
    <input type="radio" name="soal[10]" value=""> mulut dan usus halus
    <br/>
    <input type="radio" name="soal[10]" value=""> lambung dan usus halus
    <br/>
    <input type="radio" name="soal[10]" value=""> usus halus dan usus besar
    <br/>
</div>