
<p> 
    Berdasarkan fungsinya, zat aditif pada makanan dan minuman
    dapat dikelompokkan menjadi pewarna, pemanis, pengawet, penyedap,
    pemberi aroma, pengental, dan pengemulsi. Berdasarkan asalnya, zat
    aditif pada makanan dapat dikelompokkan menjadi dua, yaitu zat
    aditif alami dan zat aditif buatan. Tahukah kamu perbedaan zat aditif
    alami dan zat aditif buatan? Zat aditif alami adalah zat aditif yang
    bahan bakunya berasal dari makhluk hidup, misalnya zat pewarna
    dari tumbuhan, penyedap dari daging hewan, zat pengental dari alga,
    dan sebagainya. Zat-zat alami ini pada umumnya tidak menimbulkan
    efek samping yang membahayakan kesehatan manusia. Sebaliknya,
    zat aditif buatan bila digunakan melebihi jumlah yang diperbolehkan,
    dapat membahayakan kesehatan. Zat aditif buatan diperoleh melalui
    proses reaksi kimia yang bahan baku pembuatannya berasal dari bahan-
    bahan kimia. Misalnya, bahan pengawet dari asam benzoat, pemanis
    buatan dari sakarin, pewarna dari tartrazine, dan lainnya. Zat aditif
    buatan harus digunakan sesuai dengan jumlah yang diperbolehkan
    dan sesuai fungsinya. Penyalahgunaan pewarna buatan seperti bahan
    pewarna tekstil yang digunakan sebagai pewarna makanan sangat
    berbahaya untuk kesehatan.
</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 5.1 Mengidentifikasi Berbagai Zat Aditif dalam Makanan dan Minuman</h6>
    </center>

    <p><b>Apa yang perlu kamu lakukan?</b></p>
    <ol>
        <li>Berbagai jenis makanan dalam kemasan</li>
        <li>Berbagai jenis minuman dalam kemasan</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Bawalah minimal 5 jenis makanan dan minuman dalam kemasan.</li>
        <li>Bacalah komposisi bahan makanan dan minuman yang tertera pada kemasan tersebut!</li>
        <li>Tuliskan pada Tabel 5.1 apa saja zat aditif yang ada pada produk-produk tersebut?</li>
        <li>Tentukan tiap-tiap jenis bahan tersebut termasuk bahan aditif alami atau buatan!</li>
    </ol>
</div>