<p>Selain penyedap alami, juga terdapat penyedap buatan. Penyedap
buatan yang umum digunakan pada makanan adalah vetsin
yang mengandung senyawa monosodium glutamat (MSG) atau
mononatrium glutamat (MNG). Senyawa ini dibuat dari fermentasi
tetes tebu dengan bantuan bakteri Micrococcus glutamicus. Banyak
ahli kesehatan berpendapat bahwa penggunaan MSG yang berlebihan
dapat menimbulkan penyakit yang dikenal dengan nama Sindrom
Restoran Cina (Chinese Restaurant Syndrome) dengan gejala pusing,
mulut terasa kering, lelah, mual, atau sesak napas. Dosis maksimal
penggunaan MSG yang ditetapkan oleh WHO adalah 120 mg/kg berat
badan. Misalnya, berat badanmu 40 kg maka jumlah MSG maksimal
yang dapat dikonsumsi sebesar 480 mg (0,48 g).</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p>Kamu sudah mengetahui bahwa penggunaan penyedap buatan
    secara berlebih dapat menyebabkan penyakit. Apakah yang kamu
    sarankan agar ketika ibu memasak tidak menggunakan MSG namun
    masakan tetap terasa enak? Coba temukan bahan lain pengganti
    MSG yang tidak berbahaya bagi kesehatan!</p>
</div>
<h4><span>5</span>Pemberi Aroma</h4>
<p>Pemberi aroma adalah zat yang memberikan aroma tertentu pada
makanan atau minuman. Penambahan zat pemberi aroma dapat
menyebabkan makanan atau minuman memiliki daya tarik tersendiri
Pemberi aroma adalah zat yang memberikan aroma tertentu pada
makanan atau minuman. Penambahan zat pemberi aroma dapat
menyebabkan makanan atau minuman memiliki daya tarik tersendiri
untuk dinikmati. Zat pemberi aroma dapat berasal dari bahan segar
atau ekstrak dari bahan alami, di antaranya adalah ekstrak buah
nanas, ekstrak buah anggur, minyak atsiri, dan vanili. Beberapa kue
menggunakan murbei sebagai pemberi aroma seperti pada Gambar
5.8.untuk dinikmati. Zat pemberi aroma dapat berasal dari bahan segar
atau ekstrak dari bahan alami, di antaranya adalah ekstrak buah
nanas, ekstrak buah anggur, minyak atsiri, dan vanili. Beberapa kue
menggunakan murbei sebagai pemberi aroma seperti pada Gambar
5.8.</p>