<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 224/1.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.8</b> Kue Pai dengan Aroma Buah Murbei</small>
    </div>
</div>
<p>Pemberi aroma yang merupakan senyawa sintetis atau disebut
dengan <b>essen</b>, misalnya amil kaproat (aroma apel), amil asetat (aroma
pisang ambon), etil butirat (aroma nanas), vanilin (aroma vanili), dan
metil antranilat (aroma buah anggur) disebut pemberi aroma sintetis.</p>
<h4><span>6</span>Pengental</h4>
<p>Pengental adalah bahan tambahan yang digunakan untuk
menstabilkan, memekatkan atau mengentalkan makanan yang
dicampurkan dengan air, sehingga membentuk kekentalan tertentu.
Bahan pengental alami misalnya pati, gelatin, gum, agar-agar, dan
alginat. Pernahkah kamu memerhatikan orang memasak sayuran
capcai? Agar kuah dari capcai kental biasanya dalam memasak capcai
diberikan larutan pati. Selain pada capcai, pengental biasa ditambahkan
pada pembuatan permen karet yang umumnya menggunakan pengental
gum.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 224/2.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.9</b> (a) Tepung Pati, (b) Kuah Capcai dengan Pengental Larutan Pati</small>
    </div>
</div>