<h4><span>7</span>Pengemulsi</h4>
<p>Pengemulsi adalah bahan tambahan yang dapat mempertahankan
penyebaran (dispersi) lemak dalam air dan sebaliknya. Minyak dan air
tidak saling bercampur, namun bila ditambahkan sabun, kemudian
diaduk keduanya dapat dicampur. Sabun dalam contoh tersebut disebut
sebagai zat pengemulsi. Contoh zat pengemulsi makanan adalah lesitin
yang terkandung dalam kuning telur maupun dalam kedelai. Lesitin
banyak digunakan dalam pembuatan mayones dan mentega. Apabila
tidak ditambahkan zat pengemulsi, lemak dan air pada mayones dan
mentega akan terpisah.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 225/1.png">
    <div>
        <small>Sumber: (a) broscience.org, (b) Dok. Kemdikbud
        <br/>
        <b>Gambar 5.10</b> (a) Mayones, (b) Mentegas</small>
    </div>
</div>
<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 5.3 Menyelidiki Dampak Negatif Zat Aditif dalam Makanan dan Minuman bagi Kesehatan</h6>
    </center>
    <p><b>Apa yang kamu perlukan?</b></p>
    <ol>
        <li>Berbagai jenis bungkus/pengemas makanan yang terdapat keterangan tentang komposisi kandungan bahan bakunya</li>
        <li>Berbagai jenis bungkus/pengemas minuman yang terdapat keterangan tentang komposisi kandungan bahan bakunya</li>
    </ol>
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Kumpulkan sebanyak mungkin bekas bungkus/pengemas
        makanan dan minuman yang terdapat keterangan komposisi
        kandungan bahan bakunya!</li>
    </ol>
</div>