<h3><span>B</span>Zat Adiktif</h3>
<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/page 227/1.png"/>
</div>
<p>Pada bagian sebelumnya kamu telah belajar banyak tentang
zat aditif, yaitu bahan yang ditambahkan dengan sengaja ke dalam
makanan atau minuman. Pada bagian ini kamu akan belajar tentang
zat adiktif. Tahukah kamu apakah zat adiktif itu? Zat adiktif adalah
zat-zat yang apabila dikonsumsi dapat menyebabkan ketergantungan
(adiksi) atau ingin menggunakannya secara terus menerus (ketagihan).
<video class="mt-3 mb-3 d-print-none" style="width:100%;" height="240" controls>
    <source src="assets/videos/Zat Adiktif.mp4" type="video/mp4"> Your browser does not support the video tag.
</video>
Zat adiktif alami yang biasa dikonsumsi adalah kafein yang ada dalam
kopi, dan theine yang ada di dalam teh. Setelah minum kopi, biasanya
orang akan merasa lebih segar disebabkan oleh kerja kafein. Pernahkah
kamu mendengar bahwa orang yang terbiasa minum kopi, kemudian
tidak minum kopi akan merasa pusing? Gejala itu menunjukkan
seseorang mengalami ketergantungan. Selain kafein masih banyak zat
adiktif lainnya. Zat adiktif dapat dikelompokkan menjadi tiga, yaitu (1)
narkotika, (2) psikotropika, dan (3) zat psiko-aktif lainnya.</p>
<h4><span>1</span>Jenis-jenis Zat Adiktif</h4>
<h5><span>a.</span>Narkotika</h5>
<p>Narkotika merupakan zat berbahaya yang tidak boleh digunakan
tanpa pengawasan dokter. Penggunaan narkotika tanpa pengawasan
dokter adalah melanggar hukum. Narkotika adalah zat atau obat
yang berasal dari tanaman yang dapat menyebabkan penurunan atau
perubahan kesadaran, menghilangkan atau mengurangi rasa nyeri,
dan menyebabkan ketergantungan bagi penggunanya.</p>