<h3><span>B</span>Sistem Gerak Manusia</h3>
<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/page23/1.png" alt="" />
</div>
<h4><span>1</span> Rangka</h4>
<h5><span>a.</span> Rangka</h5>
<p>
    Coba amati teman yang sedang duduk di sebelah kamu! Mengapa
    tubuh teman kamu itu dapat duduk dengan tegak? Apa yang membuat
    tubuhnya seperti itu? Agar dapat menjawab pertanyaan tersebut,
    perhatikan Gambar 1.20!
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page23/2.png"><img style="width:30%;" src="content/img/page23/2.png"></a>
        <a data-fancybox="gallery" href="content/img/page23/3.png"><img style="width:30%;" src="content/img/page23/3.png"></a>
        <a data-fancybox="gallery" href="content/img/page23/4.png"><img style="width:30%;" src="content/img/page23/4.png"></a>
        <div>
            <small>Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.20</b> Tenda dan Kerangkanya</small>
        </div>
    </div>
</p>
<p>
    Apabila kamu memerhatikan Gambar 1.20, seandainya kain tenda
    diibaratkan sebagai otot sedangkan tiang tenda diibaratkan sebagai
    rangka, dapatkah kamu menyebutkan fungsi dari rangka? Perhatikan
    Gambar 1.21!
</p>