<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Barang siapa tanpa hak dan melawan hukum menggunakan
    psikotropika golongan I di luar ketentuan hukum dapat dipidana
    4-15 tahun penjara dan denda 15-750 juta rupiah (UU Psikotropika
    pasal 59)</p>
</div>
<h5><span>c.</span>Zat Psiko-Aktif Lainnya</h5>
<p>Selain narkotika dan psikotropika terdapat zat atau obat lain yang
berpengaruh terhadap kerja sistem saraf pusat jika disalahgunakan
atau dikonsumsi dalam jumlah besar dan dapat menimbulkan dampak
yang berbahaya bagi kesehatan tubuh. Beberapa contoh zat psiko-
aktif selain narkotika dan psikotropika misalnya alkohol, nikotin, dan
kafein.</p>
<p>Jenis alkohol yang banyak digunakan yaitu etanol (C 2 H 5 OH).
Zat ini dapat diperoleh secara alami melalui fermentasi glukosa
dengan ragi (Saccharomyces cerevisiae). Bila seseorang meminum
minuman beralkohol, maka kandungan alkohol dalam darahnya akan
tinggi, menyebabkan orang itu mabuk dan mengalami penurunan
kesadaran. Oleh sebab itu, orang yang mabuk tidak boleh mengendarai
kendaraan. Selain etanol, salah satu jenis alkohol yaitu metanol yang
biasa digunakan pada industri sebagai pelarut zat tertentu. Dalam
kehidupan sehari-hari metanol dikenal juga dengan nama spiritus. Zat
ini sangat beracun dan bila terminum dapat memutuskan saraf mata,
sehingga orang dapat menjadi buta atau bahkan meninggal dunia.</p>
<p>Nikotin terdapat dalam daun tembakau (Gambar 5.13). Daun
tembakau ini biasanya digunakan sebagai bahan pembuatan rokok.
Akibatnya, orang yang merokok dapat lebih tahan kantuk atau lebih
aktif. Namun demikian, merokok berbahaya bagi kesehatan karena
dapat menyebabkan kanker tenggorokan dan kanker paru-paru. Coba
kamu perhatikan kemasan rokok. Pada kemasan rokok, terdapat
peringatan: “merokok dapat membunuhmu!”</p>