<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 231/1.png">
    <div>
        <small>Sumber: www.naranorthwest.org
        <br/>
        <b>Gambar 5.13</b> Daun Tembakau dan Struktur Senyawa Nikotin yang Terkandung Di dalamnya</small>
    </div>
</div>
<p>Kafein merupakan zat yang secara alami terdapat dalam kopi.
Tahukah kamu, selain ditemukan dalam kopi, kafein juga ditemukan
pada teh dan dikenal dengan nama theine namun kadarnya tidak
sebanyak kafein dalam kopi. Meskipun kafein merupakan zat psiko-
aktif, namun tidak ada larangan dalam penggunaannya. Umumnya kopi
dikonsumsi dengan tujuan agar tidak mengantuk. Hal ini disebabkan
karena kafein merupakan stimulus yang mampu meningkatkan kerja
otak. Mengonsumsi kopi tidak dilarang, tetapi tidak dianjurkan untuk dikonsumsi secara berlebihan.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 231/2.png">
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 5.14</b> (a) Minuman Kopi, (b) Minuman Teh</small>
    </div>
</div>