<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Zat adiktif juga dapat dikelompokkan berdasarkan pada
    pengaruhnya terhadap tubuh, yaitu:</p>
    <ul type="square">
        <li>Stimulan, merupakan zat adiktif yang dapat meningkatkan
        aktivitas sistem saraf pusat atau fungsi organ tubuh lainnya,
        seperti meningkatkan detak jantung, laju pernapasan, dan
        tekanan darah. Stimulan akan membuat orang lebih siaga dan
        tidak merasakan lelah, contohnya kafein, nikotin, kokain, dan
        metamfetamin. Ingatlah! Kokain dan metamfetamin dilarang
        digunakan, barang siapa yang menggunakan di luar ketentuan
        hukum dapat dipidana 15 tahun penjara.</li>
        <li>Sedatif/hipnotika atau dikenal dengan depresan, merupakan
        zat adiktif yang memiliki efek berkebalikan dengan stimulan.
        Depresan akan menghambat aktivitas sistem saraf pusat atau
        fungsi organ tubuh lainnya. Depresan akan menurunkan
        kesadaran dan menyebabkan rasa kantuk, menurunkan tekanan
        darah, memperlambat detak jantung, dan membuat otot lebih
        rileks. Contoh depresan misalnya: asam barbiturat, alkohol, dan
        diazepam.</li>
        <li>Halusinogen, merupakan zat adiktif yang memberikan efek
        halusinasi atau khayal. Pengguna zat ini akan mendengar
        atau melihat sesuatu yang sebenarnya tidak nyata. Contoh
        halusinogen misalnya, LSA <em>(Lysergic acid amide)</em> dan LSD
        <em>(Lysergic acid diethylamide)</em>. Penggunaan LSA dan LSD juga
        dilarang oleh hukum, oleh karena itu hindarilah zat-zat ini.</li>
    </ul>
</div>

<h4><span>2</span>Dampak Penggunaan Zat Adiktif bagi Kesehatan</h4>
<p>Banyak sekali dampak buruk yang disebabkan oleh penggunaan zat adiktif terhadap kesehatan.</p>
<h5><span>a.</span>Dampak Penggunaan Narkotika</h5>
<p>Penggunaan heroin, morfin, opium, dan kodein dalam jangka
pendek dapat menghilangkan rasa nyeri, ketegangan berkurang, rasa
nyaman, diikuti perasaan seperti mimpi dan mengantuk. Penggunaan
jangka panjang dapat menyebabkan ketergantungan, meninggal</p>