<div class="box">
    <p><b>Apa yang harus kamu lakukan?</b></p>
    <ol>
        <li>Buatlah kelompok yang terdiri atas 4-5 orang.</li>
        <li>Siapkan semua alat dan bahan yang diperlukan.</li>
        <li>Lakukan percobaan ini di luar ruangan.Lakukan percobaan ini di luar ruangan.</li>
        <li>Lubangi tutup botol air mineral dengan gunting/cutter.</li>
        <li>Potonglah selang sepanjang 10 cm, lalu masukkan salah satu
        ujungnya ke dalam tutup botol air mineral, lalu beri lem agar
        kuat.</li>
        <li>Isilah botol air mineral dengan air hingga penuh.</li>
        <li>Basahi kain dengan air, lalu letakkan pada mulut botol air
        mineral yang telah berisi air, kemudian tutup dengan tutup
        botol yang telah terpasang selang.</li>
        <li>Masukkan batang rokok pada ujung selang, kemudian bakar
        ujung rokok tersebut.</li>
        <li>Lubangilah bagian dasar botol air mineral dengan menggunakan
        paku, sehingga air keluar dari dalam botol.</li>
        <div class="mb-4 text-center">
            <img style="width:70%;" src="content/img/page 236/1.png">
            <div>
                <small>Sumber: Dok. Kemdikbud
                <br/>
                <b>Gambar 5.16</b> Rangkaian Percobaan Bahaya Rokok</small>
            </div>
        </div>
        <li>Ketika air keluar dari botol, asap rokok akan terisap ke dalam
        botol melalui kain yang telah dibasahi.</li>
        <li>Setelah air habis, amati warna selang yang tertancap pada tutup
        botol.</li>
    </ol>
</div>