<div class="box">
    gram sabu-sabu. Penangkapan terhadap Mr. X ini dilakukan petugas
    Unit Narkoba Poltabes setempat, setelah menerima informasi dari
    masyarakat tentang transaksi narkoba yang dilakukan tersangka
    dengan bandar lainnya. Mengetahui kedatangan petugas, tersangka
    sempat mengelak dan membantah bahwa ia pengedar narkoba.
    Namun setelah dilakukan penggeledahan petugas menemukan
    dua paket sabu-sabu seberat 5 gram. Mr. X yang berprofesi sebagai
    tukang servis elektronik ini kemudian dibawa ke kantor polisi
    untuk kemudian diadili di pengadilan”. Sumber: dimodifikasi dari
    Indosiar.com<br><br>
    <p><b>Apa yang kamu perlu diskusikan?</b></p>
    <ol>
        <li>Analisislah mengapa orang yang mengedarkan narkoba tersebutharus  ditangkap?</li>
        <li>Apa sebenarnya kerugian penggunaan narkoba sehingga pelaku pengedarnya harus diamankan oleh pihak yang berwenang?</li>
    </ol>
</div>
<p>Setelah kamu mempelajari dampak penggunaan narkoba dan
melakukan diskusi, tentu kamu tidak ingin hidup menderita akibat
terlibat dalam penyalahgunaan narkoba bukan? Oleh karena itu, kamu
harus mampu menjaga diri dari bahaya narkoba. Adapun beberapa
upaya yang dapat kamu lakukan untuk menjaga diri dari bahaya
narkoba adalah sebagai berikut.</p>
<h5><span>1.</span>Mengenal dan menilai diri sendiri</h5>
<p>Mengenal dan menilai diri sendiri berarti kamu menyadari akan
kelemahan dan kekuatan, kekurangan dan kelebihan, dan cita-cita
atau tujuan hidup yang ingin kamu capai. Dengan lebih mengenal diri
sendiri, kamu akan dapat lebih mudah mengarahkan perilakumu untuk
mencapai tujuan hidup yang telah kamu tetapkan dan mencegah diri
dari perilaku yang membuatmu tidak dapat meraih tujuan hidupmu.</p>
<h5><span>2.</span>Meningkatkan harga diri</h5>
<p>Harga diri adalah suara hatimu yang menunjukkan bahwa
kamu adalah seorang yang istimewa dan berharga, serta mampu
mencapai cita-cita. Harga diri merupakan dasar dalam proses belajar,
membangun kreativitas, tanggung jawab, dan hubungan positif
dengan orang lain. Harga diri seseorang dapat tinggi atau rendah</p>