<p class="no-indent">tergantung pada pengalaman, perilaku, dan interaksinya dengan orang
lain. Orang yang memiliki harga diri yang rendah akan cenderung
merendahkan dirinya sendiri, percaya bahwa ia tidak dapat menjadi
lebih baik, menghindari hubungan dengan orang lain, gelisah, dan
suka menyendiri yang mengakibatkan ia mudah untuk dipengaruhi
orang lain, termasuk dipengaruhi untuk mengonsumsi narkoba. Oleh
karena itu, penting bagimu untuk memiliki harga diri yang kuat. Orang
yang memiliki harga diri yang tinggi, yang bangga dengan hasil karya
sendiri maupun hasil kolaborasi dengan teman, mampu bertindak
mandiri, mampu menjalankan tanggung jawab dengan baik, berani
menghadapi tantangan dengan penuh semangat, dan mau membantu
orang lain.</p>
<h5><span>3.</span>Meningkatkan rasa percaya diri</h5>
<p>Percaya diri adalah gambaran keyakinan, keberanian, cara pandang,
pemikiran, dan perasaan tentang dirinya sendiri dalam menghadapi
suatu permasalahan. Jika kamu memiliki rasa percaya diri yang baik,
kamu akan memiliki dorongan, kekuatan, dan keberanian untuk
melakukan hal-hal yang positif, seperti siap dalam melaksanakan tugas
yang diberikan. Contoh lainnya yaitu berani berbicara secara rasional
untuk mencegah orang lain memanfaatkan dirimu, misalnya dengan
berkata “Mohon maaf, saya ada janji” atau berani menolak tawaran zat
atau obat yang tidak kamu ketahui yang mungkin menjerumuskanmu
kepada narkoba. Dengan memiliki sikap percaya diri yang tinggi, kamu
akan siap menghadapi tantangan untuk meraih cita-citamu!</p>
<h5><span>4.</span>Terampil mengatasi masalah dan mengambil keputusan</h5>
<p>Kamu perlu belajar mengelola perasaan, seperti rasa takut, marah,
khawatir, benci, malu, putus asa, dan sebagainya sehingga tidak lari dari
masalah. Dengan mampu mengelola perasaan, kamu akan tetap maju
dan menyelesaikan masalah yang kamu hadapi. Dalam menyelesaikan
masalah, kamu juga harus terampil dalam mengambil keputusan.
Dalam mengambil keputusan, kamu harus menggunakan pemikiran
yang logis mengenai sumber masalah dan alternatif pemecahan
masalah yang paling tepat dan bijaksana. Kamu juga dapat meminta
pendapat orang lain, misalnya orangtuamu jika perlu. Jika keputusan
yang diambil kurang tepat atau bahkan gagal, maka jadikan sebagai
pelajaran untuk melakukan yang lebih baik lagi.</p>