<video style="width:100%;" controls class="mb-4 d-print-none">
    <source src="assets/videos/TULANG.mp4" type="video/mp4">
</video>

<div class="mb-4 text-center">
    <img style="width:90%;" src="content/img/page24/1.png">
    <div>
        <small>Sumber: Reece et al. 2012
        <br/>
        <b>Gambar 1.21</b> Sistem Rangka Manusia</small>
    </div>
</div>
<p>
    Setelah mencermati Gambar 1.21, kamu dapat mengetahui bahwa
    pada tubuh manusia terdapat banyak sekali jenis tulang. Misalnya,
    pada anggota tubuh bagian tangan terdapat 6 jenis tulang, yaitu tulang
    lengan atas (humerus), tulang pengumpil (radius), tulang hasta (ulna),
    tulang pangkal telapak tangan (karpal), tulang ruas jari (falang), dan
    tulang telapak tangan (metakarpal). Apabila dihitung, jumlah seluruh
    tulang tubuh manusia dewasa terdiri dari 206 tulang. Secara umum,
    ada empat fungsi utama tulang bagi tubuh, yaitu sebagai berikut.
    <ol>
        <li>Memberikan bentuk pada tubuh dan menopang tubuh kita.</li>
        <li>
            Melindungi organ dalam, misalnya tulang rusuk melindungi jantung dan paru-paru, tulang tengkorak melindungi otak.
        </li>
        <li>Tempat menempelnya otot yang merupakan alat gerak aktif sehingga dapat menggerakkan tulang.</li>
        <li>
            Pada jenis tulang tertentu, seperti tulang paha (femur) tulang juga berfungsi sebagai tempat pembentukan sel darah. Sel darah
            dibentuk di bagian sumsum tulang, yaitu jaringan lunak yang terdapat di bagian tengah tulang.
        </li>
    </ol>
</p>
