<h5>
    <span>5.</span>
    Memilih pergaulan yang baik dan terampil menolak tawaran narkoba
</h5>
<p>Remaja memiliki ikatan yang kuat dengan teman sebayanya. Bagi
seorang remaja, penerimaan atau diakui oleh kelompok sebayanya
sangat penting. Adakalanya, ia berusaha untuk mengikuti hal-hal yang
dikerjakan atau diikuti oleh teman-temannya untuk membuat mereka
menyukainya, meskipun pada awalnya mungkin juga terdapat tekanan.
Banyak remaja yang mulai merokok, minum-minuman keras, bahkan
menyalahgunakan narkoba akibat tekanan dari teman. Oleh karena
itu, bergaulah dengan teman-teman yang tidak menyalahgunakan
narkoba. Selain itu, kamu juga harus mampu menolak tawaran atau
ajakan dari teman terhadap hal-hal yang negatif, seperti merokok
maupun minum-minuman keras, apalagi penggunaan narkoba.</p>
<div class="mb-4 text-center">
    <img style="width:70%;" src="content/img/page 240/1.png">
    <div>
        <small>Sumber: Badan Narkotika Nasional, 2012
        <br/>
        <b>Gambar 5.17</b> Katakan Tidak pada Narkoba</small>
    </div>
</div>
<p>Bagaimana upaya untuk mampu menolak tawaran tersebut? Kamu
perlu memiliki keberanian dan tekad untuk menolaknya, belajarlah
berkata “Tidak!”. Sadarilah bahwa narkoba akan membuatmu semakin
terjerumus kepada kesengsaraan. Kamu juga harus waspada terhadap
temanmu jika temanmu memaksamu. Jika kamu mendapat ancaman
segera tinggalkan temanmu tersebut atau laporkan kepada gurumu.</p>
<div class="box">
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p>Agar pemuda bangsa Indonesia terbebas dari narkoba,
    dibentuklah ikrar pemuda anti narkoba, yang bunyinya sebagai
    berikut. “Kami pemuda-pemudi Indonesia, sebagai harapan
    bangsa berjanji. (1) Akan tetap menjaga masa depan kami dengan
    cara menjauhi narkoba. (2) Akan tetap memelihara hubungan</p>
</div>