<p class="no-indent">yang bergerak dalam bidang olahraga; istirahat yang teratur dan cukup
sehingga dapat mengurangi ketegangan pikiran dan memperbaiki sel-
sel tubuh yang rusak; serta melakukan pemeriksaan kesehatan secara</p>
rutin.
<h5><span>8.</span>Memperkuat iman dan takwa kepada Tuhan</h5>
<p>Semua agama dan kepercayaan mengajarkan kepada penganutnya
untuk melakukan hal-hal yang baik dan melarang untuk melakukan
hal-hal yang buruk, termasuk juga narkoba dan obat berbahaya
lainnya. Remaja yang memiliki iman (kepercayaan) yang kuat, serta
selalu berusaha menjalankan perintah dan menjauhi larangan Tuhan
(bertakwa) dapat mencegah berbagai perilaku kenakalan remaja,
termasuk dalam masalah penyalahgunaan narkoba. Remaja yang
kurang taat dalam kepercayaan atau agamanya mempunyai risiko yang
lebih besar untuk cenderung menyalahgunakan narkoba, dibandingkan
remaja yang taat dalam kepercayaan atau agamanya. Oleh karena itu,
kamu harus selalu berusaha untuk meningkatkan iman dan takwa
kamu kepada Tuhan Yang Maha Esa.</p>
<h5><span>9.</span>Melakukan kegiatan yang positif</h5>
<p>Remaja hendaknya dapat mengisi waktu luang dengan kegiatan
positif yang berguna untuk masa depannya, misalnya dengan mengikuti
berbagai ekstrakurikuler di sekolah, ikut organisasi siswa seperti OSIS,
UKS, PMR, mengikuti gelar seni budaya, dan lain sebagainya. Dengan
mengisi waktu luang dengan kegiatan positif dapat membantumu
menghindarkan diri dari penyalahgunaan narkoba.</p>
<h5><span>10.</span>Membangun komunikasi dan hubungan yang baik dengan teman dan keluarga</h5>
<p>Membangun komunikasi dan hubungan yang baik dengan keluarga
juga sangat penting bagi remaja. Luangkanlah waktu bersama-sama
keluarga dan lebih terbukalah pada orangtua. Jika kamu memiliki
masalah, bicarakanlah dengan orangtua. Orangtua tentu akan selalu
membimbing atau membantumu menyelesaikan masalahmu. Dengan
begitu kamu tidak akan terus terbebani sendiri untuk memecahkan
masalah yang kamu hadapi.</p>