<div class="box">
    <ol start="13">
        <li>Menyimpan atau menggunakan bahan yang tergolong narkotika
        secara bebas merupakan suatu bentuk pelanggaran hukum yang
        dapat mengakibatkan pelakunya mendapat sanksi pidana.</li>
        <li>Beberapa macam bahan adiktif yang tergolong psikotropika masih
        boleh dipergunakan sebagai obat, namun penggunaannya dalam
        pengawasan yang ketat oleh pemerintah.</li>
        <li>Dampak penggunaan zat adiktif dalam jangka panjang di antaranya
        daya berpikir berkurang, motivasi belajar turun, perhatian ke
        lingkungan berkurang, menyebabkan penyakit pada organ dalam,
        ketergantungan, dan kematian.</li>
        <li>Upaya pencegahan diri dari bahaya narkoba di antaranya yaitu
        mengenal dan menilai diri sendiri, meningkatkan harga diri,
        meningkatkan rasa percaya diri, terampil mengatasi masalah dan
        keputusan, memilih pergaulan yang baik, dan terampil menolak
        tawaran narkoba.</li>
    </ol>
</div>