<h3>Uji Kompetensi</h3>
<p><b>A. Pilihlah satu jawaban yang paling tepat!</b></p>
<div class="mb-4">
    1. Bahan pewarna yang disarankan untuk dipakai dalam produk
    makanan dan minuman adalah ....
    <br/>
    <input type="radio" name="soal[1]" value=""> pewarna buatan karena tidak akan menimbulkan penyakit apapun meski dipakai dalam jumlah banyak
    <br>
    <input type="radio" name="soal[1]" value=""> pewarna alami karena lebih mudah diperoleh dibandingkan pewarna buatan
    <br>
    <input type="radio" name="soal[1]" value=""> pewarna alami karena tidak memiliki efek samping dalam penggunaan dengan skala besar
    <br>
    <input type="radio" name="soal[1]" value=""> pewarna buatan karena tidak akan menimbulkan penyakit apapun meski dipakai dalam jumlah banyak
    <br>
</div>

<div class="mb-4">
    2. Berikut ini yang tidak termasuk bahan pewarna alami adalah ....
    <br>
    <input type="radio" name="soal[2]" value=""> kunyit
    <br>
    <input type="radio" name="soal[2]" value=""> kakao
    <br>
    <input type="radio" name="soal[2]" value=""> daun suji
    <br>
    <input type="radio" name="soal[2]" value=""> tartrazine
    <br>
</div>

<div class="mb-4">
    3. Pemanis buatan yang tidak mengandung kalori dianjurkan untuk
    dikonsumsi para penderita penyakit tertentu yang ingin menikmati
    rasa manis secara aman. Penyakit tersebut adalah ....
    <br>
    <input type="radio" name="soal[3]" value=""> Kanker
    <br>
    <input type="radio" name="soal[3]" value=""> diabetes mellitus
    <br>
    <input type="radio" name="soal[3]" value=""> diabetes insipidus
    <br>
    <input type="radio" name="soal[]3" value=""> tekanan darah tinggi
    <br>
</div>

<div class="mb-4">
    4. Pengawet digunakan dalam pembuatan bahan makanan, karena ....
    <br>
    <input type="radio" name="soal[4]" value=""> mempermudah dalam pengemasan untuk pendistribusian
    <br>
    <input type="radio" name="soal[4]" value=""> mencegah reaksi kimia tertentu pada bahan makanan
    <br>
    <input type="radio" name="soal[4]" value=""> membantu proses penumbuhan berbagai mikroorganisme pada bahan makanan
    <br>
    <input type="radio" name="soal[4] value"> mencegah makanan dikonsumsi dalam jangka waktu tertentu
    <br>
</div>