<div class="mb-4">
    5. <em>Monosodium glutamat</em> (MSG) memiliki rasa yang khas dan dapat
    membuat makanan menjadi lebih sedap, namun penggunaan MSG
    harus dibatasi. Bahan campuran yang dapat digunakan untuk
    menggantikan MSG adalah ....
    <br>
    <input type="radio" name="soal[5]" value=""> gula dan asam
    <br>
    <input type="radio" name="soal[5]" value=""> garam dan asam
    <br>
    <input type="radio" name="soal[5]" value=""> gula dan garam
    <br>
    <input type="radio" name="soal[5]" value=""> garam dan serbuk lada
    <br>
</div>

<div class="mb-4">
    6. Ikan adalah salah satu jenis makanan yang memiliki kandungan
    protein tinggi. Tetapi, ikan mudah sekali busuk jika tidak segera
    diolah. Berikut ini cara pengawetan ikan yang tepat adalah ....
    <br>
    <input type="radio" name="soal[6]" value=""> pengeringan, pembekuan, dan penambahan gula
    <br>
    <input type="radio" name="soal[6]" value=""> pendinginan, pengasapan, dan penambahan enzim
    <br>
    <input type="radio" name="soal[6]" value=""> pendinginan, pengalengan, dan penambahan garam
    <br>
    <input type="radio" name="soal[6]" value=""> pengalengan, pengeringan, dan penambahan enzim
    <br>
</div>

<div class="mb-4">
    7. Beberapa zat adiktif dapat meningkatkan aktivitas sistem saraf
    pusat atau fungsi organ tubuh lainnya, seperti meningkatkan
    denyut jantung. Zat adiktif yang memiliki sifat tersebut termasuk
    dalam kelompok ....
    <br>
    <input type="radio" name="soal[7]" value=""> sedatif
    <br>
    <input type="radio" name="soal[7]" value=""> stimulan
    <br>
    <input type="radio" name="soal[7]" value=""> hipnotik
    <br>
    <input type="radio" name="soal[7]" value=""> halusinogen
    <br>
</div>

<div class="mb-4">
    8. LSA (Lysergic acid amide) dan LSD (Lysergic acid diethylamide)
    merupakan obat psikotropika yang dapat memberikan efek khayal
    seperti mendengar atau melihat sesuatu yang sebenarnya tidak
    nyata atau disebut dengan ....
    <br>
    <input type="radio" name="soal[8]" value=""> rileks
    <br>
    <input type="radio" name="soal[8]" value=""> euforia
    <br>
    <input type="radio" name="soal[8]" value=""> halusinasi
    <br> 
    <input type="radio" name="soal[8]" value=""> halusinogen
    <br>
</div>

<div class="mb-4">
    9. Zat psiko-aktif yang secara alami terdapat dalam kopi adalah ....
    <br>
    <input type="radio" name="soal[9]" value=""> tar
    <br>
    <input type="radio" name="soal[9]" value=""> kafein
    <br>
    <input type="radio" name="soal[9]" value=""> nikotin
    <br>
    <input type="radio" name="soal[9]" value=""> kokain
    <br>
</div>