<div class="mb-4">
    10. Jika kamu mendapati seseorang yang terkena psikotropika, yang
    dapat kamu sarankan kepada orang-orang di sekitarnya adalah ....
    <br>
    <input type="radio" name="soal[10]" value=""> meminta untuk mengurangi dosis penggunaan psikotropika sesuai keinginan dirinya sendiri
    <br>
    <input type="radio" name="soal[10]" value=""> meminta mengantarkannya ke rumah sakit tertentu untuk mendapat terapi penghentian penggunaan psikotropika
    <br>
    <input type="radio" name="soal[10]" value=""> meminta untuk menggunakan bahan lain identik narkoba tapi tidak berbahaya, sehingga rasa sakit akibat kecanduan akan hilang
    <br>
    <input type="radio" name="soal[10]" value=""> meminta membantu mengatasinya dengan menahan diri dari
    menggunakan bahan tersebut meskipun ada rasa sakit yang
    berlebihan
    <br>
</div>
<div class="mb-3"><b>B. Jawablah dengan benar pertanyaan berikut!</b></div>
<div class="form-group">
    <label>
            1. Sebutkan 5 jenis zat aditif yang biasa ditambahkan pada makanan!  
    </label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>
<div class="form-group">
    <label>
        2. Jelaskan apa dampak positif dan negatif dari mengonsumsi kopi!
    </label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>
<div class="form-group">
    <label>
        3. Mengapa narkotika dan psikotropika dilarang peredarannya?
        Jelaskan jawaban kamu!
    </label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>
<div class="form-group">
    <label>
        4. Bagaimana upaya pemerintah dalam rangka mengurangi peredaran narkoba di Indonesia?
    </label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>
<div class="form-group">
    <label>
        5. Menurut pendapatmu, bagaimana caranya agar seseorang dapat berhenti dari menggunakan narkoba, padahal gejala kecanduan narkoba sangat menyakitkan?
    </label>
    <textarea class="form-control" name="" id="" row="3"></textarea>
</div>
<div class="text-center">
    <button type="button" class="btn-submit btn btn-success">Kirim Jawaban</button>
</div>