<p>Maha Suci Tuhan yang telah menciptakan sistem peredaran darah bagi manusia. Pernahkah bagian tubuhmu terluka, misalnya karena terjatuh akibat bermain sepeda atau terkena benda tajam seperti pisau atau benda tajam lainnya? Ketika tubuhmu terluka, bagian tubuh yang terluka tersebut akan mengeluarkan darah. Perhatikan Gambar 6.1! </p>
<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page254/1.png"> 
    <div>
        <small>Sumber: Dok. Kemdikbud<br/>
        <b> Gambar 6.1 </b>  Anak Terjatuh dari Sepeda dan Terjadi Luka pada Lutut </small> </div>
    </div>
</div>

<video class="mb-4 d-print-none" style="width:100%;" controls>
    <source src="assets/videos/PeredaranDarah.mp4" type="video/mp4">
</video>

<p>Setelah beberapa lama, darah yang awalnya keluar dari tubuh dapat terhenti. Bagaimana hal tersebut dapat terjadi? Apa yang terjadi dengan tubuhmu jika darah keluar secara terus menerus? Tentu jika darah keluar secara terus menerus kamu akan kekurangan darah. Tentu kita wajib bersyukur atas adanya mekanisme pembekuan darah, sehingga darah tidak terus keluar dari tubuh. Apakah kamu pernah berpikir apa akibatnya jika kekurangan darah? Apa sebenarnya fungsi darah bagi tubuh kita? Bagaimana proses pembekuan darah?</p>
<p>Darah pada tubuh manusia berfungsi untuk mengangkut nutrisi, oksigen, hormon, dan senyawa kimia lain ke seluruh sel-sel tubuh serta mengangkut karbon dioksida dan sisa metabolisme untuk dikeluarkan dari tubuh. Selain itu, darah juga berfungsi untuk menjaga tubuh kita dari serangan penyakit. Proses ini berlangsung terus menerus selama kehidupan manusia. Untuk melakukan fungsi tersebut melibatkan berbagai organ dalam tubuh. Apa saja proses yang terjadi dalam sistem peredaran darah? Organ apa saja yang berperan dalam sistem peredaran darah? Agar kamu dapat memahaminya pelajari materi berikut ini dengan baik. </p>