<h3><span>A</span> Struktur dan Fungsi Sistem Peredaran Darah </h3>

<div class="mb-4 text-center">
    <img style="width:90%" src="content/img/page255/1.png"> 
</div>

<h4><span>1</span>Darah</h4>

<p>Darah merupakan jaringan ikat yang berwujud cair dan tersusun atas dua komponen utama yaitu plasma dan elemen seluler. Perhatikan
Gambar 6.2!</p>

<div class="mb-4 text-center">
    <img style="width:100%" src="content/img/page255/2.png"> 
    <small> Sumber: Campbell <i> et al. </i> 2008 <br/>
    <b> Gambar 6.2 </b>  Komponen Penyusun Darah </small> </div>
</div>