<div class="box"> 
    <p><b>Apa yang kamu diskusikan</b></p> 
    <ol> 
        <li> Ada berapa lapisan yang terbentuk pada campuran tersebut? </li> 
        <li> Gambarlah lapisan yang terbentuk dalam tabung reaksi tersebut!  </li>
        <li> Analogikan setiap lapisan yang terbentuk dengan komponenkomponen penyusun darah!</li>
    </ol>
</div>
<div class="row">
    <div class="col-8"> 
        <p class="justify">Plasma darah merupakan cairan ekstraseluler yang mengandung zat-zat terlarut, sedangkan elemen seluler tersusun atas sel-sel darah. Apabila darah yang terdapat di dalam tabung reaksi disentrifugasi (diputar) dengan kecepatan tertentu, sel-sel darah akan berada pada bagian dasar sedangkan plasma berada pada bagian atas. Darah tersusun atas 55% plasma darah dan 45% sel-sel darah. Secara normal, lebih dari 99% sel-sel darah tersusun atas sel darah merah (eritrosit) dan sisanya tersusun oleh sel darah putih (leukosit) dan keping darah (trombosit). Perhatikan Gambar 6.3! </p>
    </div>
    <div class="col-4"> 
        <div class="mb-4 text-center">
            <img style="width:100%" src="content/img/page257/2.png"> 
            <small> Sumber:  Tortora & Derricson, 2009  <br/>
            <b> Gambar 6.3 </b>   Sel-sel Darah </small> </div> 
        </div>
    </div> 
</div> 
            
<h5>a. Plasma Darah</h5>
<p class="justify"> Plasma darah tersusun atas 91,5% air (H<sub>2</sub>O) dan 8,5% zat-zat terlarut. Zat-zat terlarut tersebut tersusun atas protein dan zat-zat lain. Protein-protein yang terlarut dalam plasma antara lain albumin, fibrinogen, dan globulin yang sering disebut sebagai protein plasma. Zat-zat lain yang terlarut dalam plasma darah antara lain sari makanan, mineral, hormon, antibodi, dan zat sisa metabolisme (urea dan karbon dioksida). 

<h5>b. Sel Darah Merah (Eritrosit)</h5>
<p>Sel darah merah berbentuk bulat pipih dengan bagian tengahnya cekung (bikonkaf). Sel darah merah tidak memiliki inti sel. Warna merah pada sel darah merah disebabkan adanya hemoglobin (Hb) dalam sel darah merah. Hemoglobin merupakan suatu protein yang</p>