<p>Berdasarkan ada tidaknya butir-butir kasar (granula) dalam sitoplasma leukosit, leukosit dapat dibedakan menjadi granulosit dan agranulosit. Leukosit jenis granulosit terdiri atas eosinofil, basofil, dan netrofil. Agranulosit terdiri atas limfosit dan monosit. Agar kamu dapat memahami dengan baik karakteristik jenis-jenis sel darah putih, perhatikan Tabel 6.1.</p>

<div class="mb-4 text-center"> 
    <small><b>Tabel 6.1</b> Karakteristik Jenis-jenis Sel Darah Putih</small>
    <img style="width:80%" src="content/img/page259/1.png"> 
    <div>
        <small>Sumber: Marieb & Hoehn, 2012.</small>
    </div>
</div>

<h5>c. Keping Darah (Trombosit)</h5>
<p class="justify"> Bentuk trombosit beraneka ragam, yaitu bulat, oval, dan memanjang. Trombosit tidak berinti dan bergranula. Jumlah sel pada orang dewasa sekitar 200.000 – 500.000 sel per 1 mm<sup>3</sup> darah. Umur dari keping darah cukup singkat, yaitu 5 sampai 9 hari. Keping darah sangat berhubungan dengan proses mengeringnya luka, sehingga tidak </p>