<div class="box"> 
    <p class="justify no-indent">resipien, akan menimbulkan bahaya bagi resipien. Darah resipien dapat mengalami pembekuan atau penggumpalan dan dapat menyebabkan kematian. Oleh karena itu, dalam transfusi darah harus disesuaikan jenis golongan darah baik golongan berdasarkan ABO maupun Rhesusnya. Misalnya, kamu memiliki golongan darah A Rhesus positif, ketika kamu akan menerima transfusi darah, pilihan golongan darah yang juga golongan darah A Rhesus positif. Namun, jika tidak terdapat golongan darah A Rhesus positif, kamu dapat menerima dari golongan darah O Rhesus positif. Perhatikanlah Tabel 6.3 agar kamu dapat mengetahui golongan darah yang dapat ditransfusikan! </p> 
    
    <div class="mb-4 text-center">
        <div class="mb-">
            <b>Tabel 6.3 </b>  Golongan Darah Resipien dan Donor<br/>
            <img style="width:60%" src="content/img/page262/1.png"> 
        </div>
    </div>
    <p class="justify">Berdasarkan Tabel 6.3, kamu dapat mengetahui bahwa golongan darah AB dapat menerima darah dari resipien golongan darah apapun. Oleh karena itu, golongan darah AB disebut dengan resipien universal. Sebaliknya golongan darah O dapat menjadi donor bagi semua golongan darah atau golongan darah O itu sendiri. Oleh karena itu, golongan darah O disebut sebagai donor universal. </p>
    <p class="justify">Meskipun secara teorinya golongan darah AB dapat menerima dari semua golongan darah, akan tetapi pada praktiknya tim medis selalu mengusahakan golongan darah yang sama pada saat transfusi darah. Misalnya seseorang yang bergolongan darah AB, pada saat membutuhkan transfusi darah, akan ditransfusi oleh orang atau keluarga yang bergolongan darah AB juga. </p>
</div>