<div class="box"> 
    <center>
        <h3>Tahukah Kamu?</h3>
    </center>
    <p class="justify"> Tahukah kamu bagaimana Tuhan merancang jantung dapat
        bekerja secara otomatis? Jantung memiliki dinding yang tersusun
        atas otot-otot jantung. Berbeda dengan otot rangka, otot jantung
        memang memiliki kemampuan untuk berkontraksi secara tak sadar
        (<i>otonom</i>) karena dikendalikan oleh sistem saraf otonom. Di dalam
        jantung terdapat saraf khusus yang disebut dengan pacu jantung
        (<i>pacemaker</i>) yang diperankan oleh nodus sinoatrial. Pacu jantung
        inilah yang berperan dalam pengaturan irama detak jantung.
        Perhatikan Gambar 6.7! Pada beberapa orang, pacu jantung
        mengalami gangguan sehingga tidak dapat mengatur irama detak
        jantung dengan normal, sehingga ilmuwan telah mengembangkan
        alat pacu jantung buatan dengan energi dari baterai.</p>
        
        <div style="width:50%;margin:auto;" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="content/img/page265/2.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="content/img/page265/3.png" alt="Second slide">
                </div> 
                <div class="carousel-item">
                    <img class="d-block w-100" src="content/img/page265/4.png" alt="Second slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="mb-4 text-center">
            <small> Sumber:(a) Marieb et al. 2012, (b) drugline.org, (c) corporate-ir.net <br/>
                <b> Gambar 6.7 </b> (a) Pacu Jantung, Nodus Sinoatrial, (b) Pacu Jantung yang Dipasang
                pada Tubuh Seseorang, (c) Alat Pacu Jantung
            </small>
        </div>
    </div>
</div>
<h5>b. Pembuluh Darah</h5>
<p class="justify">Pembuluh darah dapat dibedakan menjadi tiga, yaitu pembuluh
nadi (arteri), pembuluh balik (vena), dan pembuluh kapiler (Gambar
6.8). Arteri merupakan pembuluh darah yang mengalirkan darah keluar
jantung, sedangkan vena mengalirkan darah masuk ke dalam jantung.
Arteri berisi darah yang mengandung oksigen, kecuali pembuluh
arteri pulmonalis. Vena berisi darah yang banyak mengandung karbon
dioksida, kecuali vena pulmonalis. Ujung arteri dan vena bercabangcabang
menjadi pembuluh-pembuluh kecil yang disebut pembuluh
kapiler. Pada pembuluh kapiler inilah terjadi pertukaran gas oksigen
dan gas karbon dioksida antara darah dengan jaringan tubuh.</p>