<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page266/1.png">
    <small>
        Sumber: Reece et al. 2012<br/>
        <b>Gambar 6.8</b> Pembuluh Darah
    </small>    
</div>
<p class="justify">Tahukah kamu perbedaan antara pembuluh arteri dan vena? Agar kamu dapat dengan mudah memahaminya, coba perhatikan Tabel 6.4!</p>
<div class="mb-4 text-center">
    <small>
        <b>Tabel 6.4</b> Perbedaan Pembuluh Arteri dan Vena
    </small>    
    <img style="width:80%" src="content/img/page266/2.png">
</div>