
<h5>C. Peredaran Darah pada Manusia</h5>
<p class="justify">Peredaran darah manusia termasuk peredaran darah tertutup
karena darah selalu beredar di dalam pembuluh darah. Setiap beredar,
darah melewati jantung dua kali sehingga disebut peredaran darah
ganda. Pada peredaran darah ganda tersebut dikenal peredaran darah
kecil dan peredaran darah besar. Peredaran darah kecil merupakan
peredaran darah yang dimulai dari jantung (bilik kanan) menuju ke
paru-paru kemudian kembali lagi ke jantung (serambi kiri). Perhatikan
Gambar 6.9 pada nomor <b>1</b> sampai <b>5</b> ! Peredaran darah besar adalah
peredaran darah dari jantung (bilik kiri) ke seluruh tubuh kemudian
kembali ke jantung lagi (serambi kanan). Perhatikan Gambar 6.9 pada
nomor <b>6</b> sampai <b>10</b> !</p>

<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page267/1.png">
    <div>
        <small>
            Sumber: Reece et al. 2012<br/>
            <b>Gambar 6.9</b> Peredaran Darah Manusia
        </small>    
    </div>    
</div>