<div class="box"> 
    <p><b>Kegiatan II</b> </p>
    
    <ol>
        <li>Mintalah temanmu untuk berjalan santai selama 1 menit. Setelah
        itu mintalah temanmu untuk duduk.</li>
        <li>Temukan denyut nadi pada pergelangan tangan temanmu.</li>
        <li>Hitung denyut nadinya selama 1 menit. Selanjutnya catatlah
        hasilnya pada Tabel 6.5. Lakukan penghitungan dengan cermat
        dan teliti agar data yang kamu peroleh benar.</li>
        <li>Ulangi langkah 1-3, tetapi kegiatan tersebut dilakukan setelah
        temanmu berjalan santai selama 2 menit.</li>
    </ol>  
    <p><b>Kegiatan III</b> </p>
                
    <ol>
        <li>Mintalah temanmu untuk berlari-lari kecil selama 1 menit.
        Setelah itu mintalah temanmu untuk duduk.</li>
        <li>Temukan denyut nadi pada pergelangan tangan temanmu.</li>
        <li>Hitung denyut nadinya selama 1 menit. Selanjutnya catatlah
        hasilnya pada Tabel 6.5. Lakukan penghitungan dengan cermat
        dan teliti agar data yang kamu peroleh benar.</li>
        <li>Ulangi langkah 1-3, tetapi kegiatan tersebut dilakukan setelah
        temanmu berjalan santai selama 2 menit.</li>
    </ol>
                            
    <div class="mb-4 text-center"> 
        <small><b> Tabel 6.5</b> Frekuensi Nadi Jantung pada Beberapa Aktivitas Fisik dengan Intensitas yang Berbeda</small>
        <img style="width:80%" src="content/img/page269/1.png"> 
    </div>
    
    <p> <b>Apa yang perlu kamu diskusikan?</b> </p>

    <ol>
        <li>Mengapa kita dapat menghitung denyut jantung dengan cara
        menghitung denyut nadi? Apakah frekuensi denyut jantung
        sama dengan denyut nadi?</li>
        <li>Pada saat duduk tenang, manakah yang lebih tinggi frekuensi
        denyut jantung laki-laki atau perempuan? Menurutmu mengapa demikian?</li>
    </ol>
</div>