<div class="box"> 
    <ol start="3">
        <li>Manakah di antara kegiatan berjalan selama 1 menit dan berlari
        selama 1 menit yang menyebabkan frekuensi denyut jantung
        paling tinggi? Mengapa demikian?</li>
        <li>Manakah di antara kegiatan berlari selama 1 menit dan berlari
        selama 2 menit yang menyebabkan frekuensi denyut jantung
        paling tinggi? Mengapa demikian?</li>
        <li>Hitung denyut nadinya selama 1 menit. Selanjutnya catatlah
        hasilnya pada Tabel 6.5. Lakukan penghitungan dengan cermat
        dan teliti agar data yang kamu peroleh benar.</li>
    </ol>  
    <p class="justify"> <b>Apa yang dapat kamu simpulkan?</b> </p>
    <p class="justify"> Berdasarkan hasil penyelidikan dan diskusi yang telah kamu
    lakukan, apa saja yang dapat kamu simpulkan? </p>  
    <p class="justify"> <b>Apa yang harus kamu lakukan selanjutnya?</b> </p>
    <p class="justify"> Setelah selesai melakukan penyelidikan, buatlah artikel tentang
    hasil penyelidikamu! Selanjutnya, kamu dapat menempelkan
    artikelmu di majalah dinding kelas. </p>
</div>

<p class="justify"> Berdasarkan Aktivitas 6.2 kamu telah mengetahui bahwa ada
beberapa faktor yang memengaruhi frekuensi denyut jantung di
antaranya adalah jenis kelamin dan aktivitas tubuh, dan beberapa hal
berikut.</p>
            
<h5>1. Kegiatan atau Aktivitas Tubuh</h5>
    
<p class="justify">Orang yang melakukan aktivitas memerlukan lebih banyak sumber
energi berupa glukosa dan oksigen dibandingkan dengan orang yang
tidak melakukan aktivitas seperti duduk santai atau tiduran. Untuk
memenuhi kebutuhan sumber energi dan oksigen tersebut, jantung
harus memompa darah lebih cepat.</p>

<h5>2. Jenis Kelamin</h5>
    
<p class="justify">Pada umumnya perempuan memiliki frekuensi denyut jantung yang
lebih tinggi daripada laki-laki. Pada kondisi normal, denyut jantung
perempuan berkisar antara 72-80 denyutan/menit, sedangkan denyut
jantung laki-laki berkisar antara 64-72 denyutan/menit.</p>

<h5>3. Suhu Tubuh</h5>
    
<p class="justify">Semakin tinggi suhu tubuh maka semakin cepat frekuensi denyut
jantung. Hal ini terjadi karena adanya peningkatan proses metabolisme,
sehingga diperlukan peningkatan pasokan O<sub>2</sub> dan pengeluaran CO<sub>2</sub>.</p>