<h5>4. Umur</h5>
    
<p class="justify">Pada janin, denyut jantung dapat mencapai 140-160 denyutan/
menit. Semakin bertambah umur seseorang, semakin rendah frekuensi
denyut jantung. Hal ini berhubungan erat dengan makin berkurangnya
proporsi kebutuhan energinya.</p>

<h5>5. Komposisi Ion</h5>
    
<p class="justify">Berdenyutnya jantung secara normal, tergantung pada
keseimbangan komposisi ion di dalam darah. Ketidakseimbangan ion,
dapat menyebabkan bahaya bagi jantung.</p>

<div class="box"> 
    <center>
        <h3>Ayo, Kita Diskusikan</h3>
    </center>
    <p class="justify">Rerata maksimal detak jantung seseorang berkaitan dengan usianya
    sehingga dapat dirumuskan: </p>   
    <p class="justify">Rerata maksimal detak jantung = 220 – usia</p>
    <p class="justify"> Penelitian terbaru saat ini menemukan rumus terbaru hasil
    modifikasi dari rumus di atas yakni:</p>  
    <p class="justify"> Rerata maksimal detak jantung = 208 – ( 0, 7 × usia) </p>
    <p class="justify"><b>Pertanyaan:</b></p>
    <p class="justify"> Sebuah artikel mengatakan bahwa penggunaan rumus terbaru
    ternyata berbeda jauh dengan rumus yang lama dalam mengukur
    detak jantung seseorang. Perbedaannya adalah jika akan mengukur
    detak jantung anak muda maka akan terjadi penurunan yang
    tajam dan jika akan mengukur detak jantung orangtua akan terjadi
    kenaikan yang tajam pula. Menurutmu, pada usia berapakah tidak
    ada perbedaan sama sekali dari penggunaan kedua rumus tersebut? </p>
</div>