<h3><span>B</span> Gangguan atau Kelainan pada Sistem Peredaran Darah dan Upaya untuk Mencegah serta Menanggulanginya </h3> 

<div class="mb-4 text-center">
    <img style="width:90%" src="content/img/page272/1.png"> 
</div> 

<p class="justify"> Pernahkah kalian mendengar seseorang yang terkena serangan jantung atau penyakit stroke? Serangan jantung dan penyakit stroke adalah peristiwa yang terjadi karena adanya gangguan pada sistem peredaran darah. Apakah ada gangguan lain yang terjadi pada sistem peredaran darah? Bagaimana cara mencegah dan mengatasi gangguan tersebut? Agar kamu dapat memahaminya, ayo, perhatikan penjelasan berikut ini!  </p>

<h4><span>1</span>Jantung Koroner</h4> 

<p class="justify"> Penyakit jantung koroner merupakan salah satu penyebab utama terjadinya kematian, baik di negara maju maupun negara berkembang. Tahukah kamu apa yang menjadi penyebab terjadinya penyakit jantung koroner? Penyakit jantung koroner terjadi jika arteri koronaria tidak dapat menyuplai darah yang cukup ke otot-otot jantung. Arteri koronaria merupakan pembuluh darah yang menyuplai nutrisi dan oksigen ke otot-otot jantung. Kondisi ini dapat terjadi karena arteri koronaria tersumbat oleh lemak atau kolesterol. Perhatikan Gambar 6.11! </p> 
<p class="justify"> Jika otot-otot jantung tidak mendapatkan nutrisi dan oksigen, maka otot jantung tidak dapat berkontraksi, sehingga jantung tidak dapat berdenyut. Gejala dari penyakit jantung koroner antara lain dada terasa sakit, sakit pada bagian lengan dan punggung, napas pendek dan kepala pusing </p>