<h4><span>2</span><i>Stroke</i></h4>
<p class="justify"><i>Stroke</i> merupakan suatu penyakit yang terjadi karena kematian pada jaringan di otak yang disebabkan karena kurangnya asupan oksigen di otak. Hal ini terjadi karena pembuluh darah pada otak tersumbat oleh lemak atau kolesterol ataupun salah satu pembuluh darah di otak pecah. Perhatikan Gambar 6.12!</p>

<div class="mb-4 text-center">
    <img style="width:80%" src="content/img/page275/1.png"> 
    <div>
        <small> Sumber: : fescenter.org <br/>
        <b> Gambar 6.12 </b> Penyumbatan Arteri dalam Otak oleh Lemak  </small>
    </div>
</div>

<p class="justify"> Bagaimana cara mencegah agar kita terhindar dari serangan <i>stroke </i>? Karena penyebab penyakit stroke sama dengan penyebab penyakit jantung, maka usaha yang dapat kita lakukan untuk mengurangi risiko terkena stroke juga sama dengan usaha yang dapat dilakukan untuk mengurangi risiko terkena penyakit jantung koroner. Nah, apa yang harus kamu lakukan jika tiba-tiba kamu menjumpai seseorang yang mengalami gejala serangan <i> stroke </i>? Langkah penting yang harus kamu lakukan adalah mencari pertolongan agar penderita dapat segera dibawa ke rumah sakit atau unit kesehatan lainnya agar penderita segera mendapatkan penanganan medis. </p> </div>

<h4><span>3</span>Varises</h4>

<p class="justify"> Varises adalah suatu keadaan di mana pembuluh darah balik (vena) mengalami pelebaran dan terpuntir. Gangguan ini biasanya terjadi di daerah kaki. Perhatikan Gambar 6.13! </p>