<div class="mb-4 text-center">
    <img style="width:50%" src="content/img/page276/1.png">
    <div>
        <small> Sumber: webmd.com <br/>
        <b>Gambar 6.13 </b> Pelebaran Vena pada Kaki</small>
    </div>
</div>

<p class="justify">Nah, upaya apa yang dapat kamu lakukan agar terhindar dari varises? (1) Ketika kamu tidur sebaiknya tungkai dinaikkan (kurang lebih 15-20 cm). Aktivitas ini sebaiknya dilakukan setelah kamu melakukan perjalanan jauh atau melakukan aktivitas yang melelahkan. (2) Menghindari berat badan berlebih. (3) Menghindari berdiri terlalu lama. (4) Berolahraga secara teratur seperti berjalan, berenang, dan senam. (5) Menghindari memakai sepatu dengan hak tinggi. Nah, apakah selamanya kamu tidak boleh memakai sepatu dengan hak yang tinggi? Kamu tetap boleh memakai sepatu dengan hak tinggi, asalkan aktivitas yang kamu lakukan tidak terlalu berat dan dalam waktu yang lama. </p>

<h4><span>4</span> Anemia </h4>
<p class="justify"> Anemia merupakan gangguan yang disebabkan karena kekurangan hemoglobin atau kekurangan sel darah merah. Perhatikan Gambar 6.14! Apabila kadar hemoglobin dalam darah rendah dapat menyebabkan tubuh kekurangan oksigen sehingga tubuh akan terasa lesu, kepala pusing, dan muka pucat. Anemia dapat terjadi akibat terganggunya produksi eritrosit. Kondisi ini terjadi karena tubuh kekurangan zat besi. Anemia juga dapat disebabkan karena terjadinya pendarahan yang hebat.  </p>