<h3>Uji Kompetensi</h3>
<p><b>A. Pilihlah satu jawaban yang paling tepat!</b></p>
<ol>
    <li>Pernyataan yang tepat tentang ciri-ciri komponen penyusun darah
        adalah ....</li>
        
        <ol type="A">
            <li>leukosit tidak memiliki inti sel, selnya memiliki bentuk yang
            tidak tetap atau bersifat ameboid</li>
            <li>eritrosit memiliki inti sel, selnya berbentuk bulat pipih dan
            bagian tengahnya cekung (bikonkaf)</li>
            <li>plasma darah adalah cairan darah yang di dalamnya terdapat
            protein plasma dan zat terlarut lainnya</li>
            <li>trombosit memiliki inti sel dan bergranula, bentuk selnya
            beraneka ragam, bulat, oval, dan memanjang</li>
        </ol>
    </li>
</ol>
<ol start="2">
    <li>Pernyataan yang benar tentang sel darah putih adalah ....</li>
    <ol type="A">
        <li>leukosit jenis granulosit terdiri atas limfosit dan monosit,
        sedangkan leukosit jenis agranulosit terdiri atas eosinofil,
        basofil, dan netrofil</li>
        <li>monosit terdiri atas sel T dan sel B, kedua sel tersebut berfungsi
        untuk imunitas dan kekebalan tubuh</li>
        <li>basofil memiliki granula berwarna biru dan memiliki fungsi
        pada reaksi alergi, terutama infeksi cacing</li>
        <li>fungsi utama dari sel darah putih adalah melawan kuman/bibit
        penyakit yang masuk ke dalam tubuh dan membentuk antibodi</li>
    </ol>
</ol>
                        
    <ol start="3">
        <li>Oksigen dalam darah akan diangkut oleh ....</li>
        
        <ol type="A">
            <li>eritrosit</li>
            <li>leukosit</li>
            <li>trombosit</li>
            <li>plasma darah</li>
        </ol>
    </ol>
<ol start="4">
    <li>Pernyataan yang tepat tentang transfusi darah agar tidak terjadi
    penggumpalan darah pada resipien adalah ....</li>
    <ol type="A">
        <li>resipien yang memiliki golongan darah A dapat menerima darah
        dari golongan A dan AB</li>
        <li>resipien yang memiliki golongan darah B dapat menerima darah
        dari golongan B dan AB</li>
    </ol>
</ol>