<ul type="none">
        <ol type="A" start="3">
            <li>resipien yang memiliki golongan darah AB dapat menerima
            darah dari semua golongan</li>
            <li>resipien yang memiliki golongan darah O dapat menerima darah
            dari golongan O dan AB</li>
        </ol>
    </li>
</ul>

<ol start="5">
    <li>
        Perhatikan diagram proses pembekuan darah di bawah ini!
        <div class="mb-4">
            <img style="width:80%" src="content/img/page284/1.png">    
        </div>
    </li>
</ol>

<ul type="none">
    <li>Berdasarkan diagram di atas, X dan Y secara berturut-turut adalah ...</li>
    <ol type="A">
        <li>trombokinase/tromboplastin dan fibrin</li>
        <li>fibrinogen dan trombokinase/tromboplastin</li>
        <li>trombokinase/tromboplastin dan fibrinogen</li>
        <li>trombokinase/tromboplastin dan protrombin</li>
    </ol>
</ul>

<ol start="6">
    <li>Perhatikan kelainan-kelainan berikut.</li>
    <ul type="none">
        <li>(1) Hipertensi (4) Arteriole</li>
        <li>(2) Hipotensi (5) Anemia</li>
        <li>(3) Buta warna (6) Stroke</li>
    </ul>
</ol>
<ul type="none">
    <li>Yang merupakan gangguan yang terjadi pada sistem peredaran
    darah terdapat pada nomor ....</li>
    <ol type="A">
        <li>(1), (2), (3), dan (4)</li>
        <li> (2), (4), dan (5)</li>
        <li>(1), (2), (4), dan (6)</li>
        <li>(1) , (2), (5), dan (6)</li>
    </ol>
</ul>
<ol start="7">
    <li>Urutan peredaran darah yang benar adalah ....</li>
    <ol type="A">
        <li>seluruh tubuh – serambi kiri – bilik kiri – paru-paru – serambi
        kanan – bilik kanan – seluruh tubuh</li>
        <li>seluruh tubuh – bilik kanan – serambi kanan – paru-paru – bilik
        kiri – serambi kiri – seluruh tubuh.</li> 
        <li>seluruh tubuh – bilik kiri – serambi kiri – paru-paru – bilik
        kanan – serambi kanan – seluruh tubuh.</li> 
        <li>eluruh tubuh – serambi kanan – bilik kanan – paru-paru –
        serambi kiri – bilik kiri – seluruh tubuh</li>
    </ol>
</ol>