<ol start="8">
    <li>Pembuluh darah yang kaya dengan oksigen berasal dari paru-paru
        dan masuk ke serambi kiri adalah ....</li>
        <ol type="A">
            <li>aorta</li>
            <li>vena pulmonalis</li>
            <li>arteri pulmonalis</li>
            <li> vena kava superior</li>
        </ol>
</ol>
<ol start="9">
    <li>Tabel perbedaan pembuluh darah berikut ini yang benar adalah ….
        <div class="mb-4">
            <img style="width:80%" src="content/img/page285/1.png">    
        </div>
    </li>
</ol>
<ol start="10">
    <li>Pak Beni menderita sakit jantung. Berikut ini saran yang paling
    tepat diberikan kepada Pak Beni adalah ....</li>
    <ol type="A">
        <li>Pak Beni harus mengurangi konsumsi minuman beralkohol dan
        mengurangi rokok</li>
        <li>Pak Beni harus berolahraga dengan keras untuk melatih
        kekuatan otot jantung</li>
        <li>Pak Beni harus menjaga pola makan dengan menghindari
        makanan yang berlemak</li>
        <li>Pak Beni harus mengonsumsi</li>
    </ol>
</ol>
<p><b>B. Jawablah dengan benar pertanyaan berikut!</b></p>
<ol>
    <li>Salah satu fungsi darah adalah mengangkut oksigen dan karbon
    dioksida. Ternyata, masih ada banyak fungsi darah yang lainnya.
    Sebutkanlah fungsi darah yang lainnya!</li>
    <li>Mengapa jumlah sel darah merah orang yang tinggal di dataran
    tinggi (pegunungan) lebih banyak daripada orang yang tinggal
    di dataran rendah (pantai)? Ingat bahwa pada daerah dataran
    tinggi tekanan udara dan kadar oksigennya lebih rendah apabila
    dibandingkan dengan dataran rendah.</li>
    <li>Jelaskan proses peredaran darah yang terjadi pada tubuh!</li>
    <li>Bu Lani pergi ke dokter untuk melakukan pengecekan tekanan
    darahnya. Setelah dilakukan pengukuran tekanan darah, dokter</li>
</ol>