<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        
        <ol>
            <div class="mb-3 mt-3"><b>Penelitian di Bidang Biologi:</b></div>
            <li>Uji Multilokasi Galur-galur Kedelai untuk Perakitan Kedelai Tahan CPMMV (Cowpea Mild Mottle Virus) (2015). </li>
            <li>Seleksi Galur-galur Kedelai Generasi F5 untuk Perakitan Kedelai Tahan CPMMV (Cowpea Mild Mottle Virus) (2012). </li>
            <li>Karakterisasi Morfologi, Anatomi, dan Agronomi Plasma Nutfah Kedelai untuk Pembentukan Kedelai Tahan CPMMV (Cowpea Mild Mottle Virus) (2011). </li>
            <li>Pembentukan Varietas Unggul Kedelai Tahan CPMMV (Cowpea Mild Mottle Virus) Berdaya Hasil Tinggi (Tahun II) (2010). </li>
            <li>Pembentukan Varietas Unggul Kedelai Tahan CPMMV (Cowpea Mild Mottle Virus) Berdaya Hasil Tinggi (Tahun I) (2009). </li>
            <li>Konfirmasi CVPD Berbasis PCR pada Tanaman Jeruk Bergejala Klorosis di Poncokusumo Jawa Timur (2009). </li>
            <li>Uji Kemampuan Antibiotik Dalam Upaya Eliminasi Bakteri CVPD pada Mata Tunas untuk Bahan Bibit Jeruk (2008).</li>
            <li>Perbaikan Genetik Varietas Unggul Kedelai Berdaya Hasil Tinggi untuk Ketahanan terhadap CPMMV (Cowpea mild Mottle Virus) (2007).</li>
            <li>Identifikasi Penanda Molekuler RAPD untuk Ketahanan Genotipe Plasma Nutfah Kedelai Terhadap CPMMV (Cowpea Mild Mottle Virus) (2006).</li>
        </ol>

        <ol>
            <div class="mb-3 mt-3"><b>Penelitian di Bidang Pendidikan:</b></div>
            <li>Pengembangan Model Pembelajaran Biologi Berbasis Remap Coople untuk Pemberdayaan Berpikir Siswa Indonesia Berkarakter Minat Baca Rendah (2015).</li>
            <li>Pengembangan Model Pembelajaran Biologi Berbasis Remap Coople untuk Pemberdayaan Berpikir Siswa Indonesia Berkarakter Minat Baca Rendah (2014).</li>
            <li>Model Pendidikan Karakter Bangsa Berbasis Kearifan Lokal di Sekolah di Provinsi Jawa Timur (2014).</li>
            <li>Kajian Grand Design Pendidikan Menengah Kejuruan di Jawa Timur (2014).</li>
            <li>Pemetaan Kesiapan Implementasi Kurikulum 2013 Dalam Upaya Pengembangan Model Pemecahan Masalah Pembelajaran dan Penilaian
            Sebagai Penguatan Pendidikan Karakter di SMP Jawa Timur (2014).</li>
            <li>Pemetaan Kesiapan Implementasi Kurikulum 2013 Dalam Upaya Pengembangan Model Pemecahan Masalah Pembelajaran dan Penilaian
            Sebagai Penguatan Pendidikan Karakter di SMP Jawa Timur (2013).</li>
            <li>Pembelajaran yang Memberdayakan Keterampilan Metakognitif, Pemahaman Konsep, dan Retensi pada Pembelajaran Biologi SMA di
            Malang untuk Menolong Siswa Berkemampuan Akademik Rendah (2012).</li>
            <li>Pemberdayaan Blended Learning pada Perkuliahan Genetika di Jurusan Biologi FMIPA Universitas Negeri Malang (2011).</li>
            <li>Pemetaan dan Pengembangan Mutu Pendidikan di Malang Raya (Kota Malang, Kabupaten Malang, Kota Batu) (2011).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Informasi Lain:</b>
        </div>
        
        <p class="no-indent">Siti Zubaidah, lahir di Malang, 02 Juni 1968. Menikah dan dikaruniai 3 anak. Saat ini menetap di Kota Malang sebagai pengajar
        di Jurusan Biologi dan Pascasarjana Universitas Negeri Malang (UM). Dalam banyak kegiatan terlibat sebagai narasumber dalam
        workshop peningkatan kualitas guru dan dosen dalam bidang pembelajaran dan penelitian. Materi yang dikembangkan sesuai kompetensinya dalam bidang biologi dan pendidikan biologi serta pembelajarannya. Dalam bidang biologi, saat ini terlibat dalam pengembangan
        kedelai tahan virus. Dalam bidang pendidikan biologi, terlibat dalam pengembangan model pembelajaran dan strategi pembelajaran
        yang mendorong kemampuan berpikir siswa.</p>
    </li>
</ul>