<p class="no-indent">
    oleh osteoblas (sel-sel pembentuk tulang). Selanjutnya, osteoblas
    akan membentuk osteosit (sel-sel tulang). Proses osifikasi dimulai dari
    bagian tengah tulang rawan dan kemudian meluas ke seluruh arah
    sesuai dengan pertumbuhan tulang rawan. Di antara jaringan tulang
    yang terbentuk terdapat pembuluh darah. Pembuluh darah ini akan
    membawa mineral seperti kalsium sehingga tulang yang terbentuk
    menjadi keras.
</p>
<p>
    Selain mengalami osifikasi, tulang juga mengalami fusi atau
    penggabungan. Pada saat kamu baru lahir, jumlah seluruh tulang yang
    ada pada sistem rangka kamu adalah 270 tulang. Seiring bertambahnya
    usia beberapa tulang akan mengalami fusi, misalnya tulang tengkorak
    dan tulang ekor. Oleh karena itu, ketika kamu sudah dewasa, jumlah
    tulang penyusun sistem rangka ada 206 tulang.
</p>
<h4><span>2</span> Sendi</h4>
<div class="row">
    <div class="col">
        <p>
            Sebelum kamu mempelajari materi selanjutnya, coba sekarang berdirilah.
            Kemudian lakukan gerakan sesuka
            hatimu! Coba kamu pikirkan, mengapa
            kamu dapat melakukan berbagai
            macam gerakan? Padahal tulang sebagai
            penyusun sistem gerak manusia sangat
            keras serta tidak dapat dibengkokkan.
            Ternyata, itu semua terjadi karena pada
            penyusun sistem gerak kita terdapat sendi. Sendi adalah tempat bertemunya
            dua tulang atau lebih. Dengan adanya sendi, hubungan antara tulang-tulang
            tubuh dapat digerakkan.
        </p>
    </div>
    <div class="col">
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page29/1.png"><img style="width:70%;" src="content/img/page29/1.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012
                <br/>
                <b>Gambar 1.25</b> Sendi yang Tidak Dapat Digerakkan (Sendi Mati)</small>
            </div>
        </div>
    </div>
</div>
<p>
    Tahukah kamu bahwa sendi dapat dikelompokkan berdasarkan banyak sedikitnya gerakan yang memungkinkan dilakukan? Sendi yang
    tidak dapat digerakkan disebut dengan sinartrosis, misalnya sendi yang terdapat pada tulang tengkorak. Perhatikan Gambar
    1.25! Sendi yang dapat digerakkan namun terbatas disebut dengan amfiartrosis, misalnya sendi antarruas tulang belakang.
    Sendi yang dapat digerakkan dengan bebas disebut dengan diartrosis. Berikut ini beberapa jenis persendian yang dapat
    digerakkan dengan bebas.
</p>