<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Buku dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas IX (2015).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan keempat) (2014).</li>
            <li>Ragam Model Pembelajaran IPA SMP (cetakan kedua) (2014).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan kelima) (2015)</li>
            <li>Buku Siswa dan Buku Guru Ilmu Pengetahuan Alam Kelas VIII (2014).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan ketiga)(2013).</li>
            <li>Ragam Model Pembelajaran IPA SMP (cetakan pertama) (2013).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan kedua) (2012).</li>
            <li>Ragam Model dan Metode Pembelajaran IPA SD (cetakan pertama) (2011).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Judul Penelitian dan Tahun Terbit:</b>
        </div>
        <ol>
            <li>Kemampuan Merancang Pembelajaran Calon Guru Fisika Berdasarkan PCK dan Kerangka Kerja TPACK (2015).</li>
            <li>Pengembangan Model Pembelajaran dengan Authentic Problem Based Learning (APBL) untuk Meningkatkan Keterampilan Berpikir Tingkat
            Tinggi Calon Guru Fisika UM (Tahun ke-2) (2014).</li>
            <li>Pengembangan Model Pembelajaran dengan Authentic Problem Based Learning (APBL) untuk Meningkatkan Keterampilan Berpikir Tingkat
            Tinggi Calon Guru Fisika UM (2013).</li>
            <li>Pengembangan Model Pembelajaran dengan Authentic Problem Based Learning (APBL) untuk Meningkatkan Keterampilan Berpikir Tingkat
            Tinggi Calon Guru Fisika UM (Tahun ke-1) (2012).</li>
            <li>Authentic Problem Based Learning (APBL) untuk Meningkatkan Hasil Belajar Fisika Siswa Kelas X-8 SMA Negeri VII Malang (2012).</li>
            <li>Peningkatan Kemampuan Pedagogik Calon Guru Fisika dengan Problem Based-Active Learning Pada Mata Kuliah Strategi Pembelajaran
            Fisika (2011).</li>
            <li>Pengembangan Bahan Ajar IPA Terpadu untuk Meningkatkan Kemampuan Berpikir Siswa SMP/MTS (2010).</li>
            <li>Pengembangan Paket Bahan Ajar Mata Kuliah Pengembangan Pembelajaran IPA SD Pada Program PJJ-PGSD (2009).</li>
            <li>Pengembangan Bahan Ajar Mata Kuliah Strategi Pembelajaran Fisika untuk Meningkatkan Kemampuan Mengajar Calon Guru Fisik (2008).</li>
        </ol>
    </li>
    <li>
        <div class="mb-3 mt-3">
            <b>Informasi Lain:</b>
        </div>
        <p class="no-indent">
            Lia Yuliati, di Sumedang, Jawa Barat, 19 Juli 1968. Menikah dan dikarunia 1 orang puteri dan 1 orang putera. Pada tahun
            1990-1999 bekerja sebagai dosen di Jurusan Fisika FPMIPA IKIP Medan, dan tahun 1999 sampai sekarang bekerja di Jurusan Fisika
            FMIPA dan Pascasarjana Universitas Negeri Malang. Dalam banyak kegiatan terlibat sebagai narasumber dalam workshop peningkatan
            kualitas guru sebagai instruktur. Materi yang dikembangkan sesuai kompetensinya dalam bidang pendidikan fisika dan pembelajarannya
            yaitu: pengembangan bahan ajar dan asesmen, penelitian tindakan kelas, pemilihan strategi pembelajaran aktif yang mendorong
            kemampuan berpikir siswa. Sampai saat ini masih aktif melakukan penelitian-penelitian dalam bidang pembelajaran fisika.
        </p>
    </li>
</ul>
