<h6 class="mt-4 mb-4">Penelaah 1</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Ana Ratna Wulan</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Universitas Pendidikan Indonesia</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>022-2001937</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td><a href="mailto:ana_ratna_upi@ahoo.com">ana_ratna_upi@ahoo.com</a></td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Setiabudhi No. 229, Kec. Sukasari, Kota Bandung</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Universitas Pendidikan Indonesia Dr. 2007</li>
            <li>S2: Universitas Pendidikan Indonesia M.Pd. 2003</li>
            <li>S1: Universitas Pendidikan Indonesia S.Pd. 1998</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penelaah 2</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Herawati Susilo</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Universitas Negeri Malang</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Biologi</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>0341-562180/ 08123271741</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:herawati.susilo.fmipa@um.ac.id">herawati.susilo.fmipa@um.ac.id</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Semarang No. 5, Kota Malang</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: University of Iowa USA Ph.D. 1987</li>
            <li>S2: University of Iowa USA M.Sc. 1984</li>
            <li>S1: IKIP Malang Dra. 1978</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penelaah 3</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Dadan Rosana</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Universitas Negeri Yogyakarta</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan IPA</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>081392859303</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:danrosana@uny.ac.id">danrosana@uny.ac.id</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl Colombo No. 1, Kec. Depok, Kota Yogyakarta</td>
    </tr>
</table>