<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Universitas Negeri Yogyakarta</li>
            <li>S2: Institut Teknologi Bandung</li>
            <li>S1: IKIP Bandung</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penelaah 4</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Enny Ratnaningsih</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Institut Teknologi Bandung</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Kimia</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>(+62) 22[2502103] ext: 2205</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:enny@chem.itb.ac.id">enny@chem.itb.ac.id</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Ganesha No. 10 Bandung</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Monash University Dr. 19917</li>
            <li>S2: Institut Teknologi Bandung M.Si. 1987</li>
            <li>S1: Institut Teknologi Bandung S.Si. 1983</li>
        </ol>
    </li>
</ul>

<h6 class="mt-4 mb-4">Penelaah 5</h6>

<table class="table table-bordered">
    <tr>
        <th>Nama Lengkap</th>
        <td>Maria Paristiowati</td>
    </tr>
    <tr>
        <th>Telp Kantor/HP</th>
        <td>Universitas Negeri Jakarta</td>
    </tr>
    <tr>
        <th>Bidang Keahlian</th>
        <td>Pendidikan Kimia</td>
    </tr>
    <tr>
        <th>Telp Kantor</th>
        <td>021-4896669</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>
            <a href="mailto:maria.paristiowati@unj.ac.id">maria.paristiowati@unj.ac.id</a>
        </td>
    </tr>
    <tr>
        <th>Alamat Kantor</th>
        <td>Jl. Pemuda No. 10, Rawamangun, Jakarta Timur</td>
    </tr>
</table>

<ul>
    <li>
        <div class="mb-3 mt-3">
            <b>Riwayat Pendidikan Tinggi dan Tahun Belajar:</b>
        </div>
        <ol>
            <li>S3: Universitas Negeri Jakarta Dr. 2015</li>
            <li>S2: Institut Teknologi Bandung M.Si. 2001</li>
        </ol>
    </li>
</ul>