<h5><span>2.</span> Otot Polos</h5>
<p>
    Otot polos terdapat pada dinding lambung usus halus, rahim,
    kantung empedu, dan pembuluh darah. Otot polos berkontraksi
    dan berelaksasi dengan lambat. Otot ini berbentuk gelendong serta
    memiliki sebuah inti pada tiap selnya. Berdasarkan cara kerjanya, otot
    polos tergolong dalam otot tak sadar.
</p>
<h5><span>3.</span> Otot Jantung</h5>
<p>
    Otot jantung hanya ditemukan di jantung. Otot jantung mempunyai
    garis-garis seperti otot rangka. Sebaliknya, cara kerja otot jantung
    mirip otot polos karena tergolong otot tidak sadar. Otot jantung
    berkontraksi sekitar 70 kali per menit sepanjang hari selama hidupmu.
    Kamu mengetahui bahwa otot jantung berkontraksi pada saat jantung
    berdenyut. Otot ini tidak dapat dikontrol oleh kemauan sadarmu.
</p>
<div class="box">
    <center>
        <h3>Ayo, Kita Selesaikan</h3>
    </center>
    <p>
        Coba sekarang kamu angkat kursi dengan menggunakan
        tangan kananmu. Kemudian lakukan hal yang sama tetapi dengan
        menggunakan tangan kirimu. Pada saat kamu mengangkat
        kursi dengan menggunakan tangan kanan kursi tidak terlalu
        berat, berbeda dengan ketika kamu mengangkat kursi dengan
        menggunakan tangan kiri. Mengapa demikian?
    </p>
</div>
<p>
    Tahukah kamu bahwa ternyata otot kita juga ada yang bekerja
    secara berlawanan. Maksudnya pada saat melakukan sebuah
    gerakan meskipun gerakan itu dilakukan secara bersamaan tetapi
    proses kontraksi dan relaksasi antara otot satu dengan otot lainnya
    berlangsung secara berlawanan. Agar kamu lebih memahami maksud
    dari pernyataan di atas, perhatikan Gambar 1.35! Pada gambar tersebut
    terlihat jelas bahwa pada saat tangan dilipat, otot bisep berkontraksi
    sedangkan otot trisep relaksasi. Sebaliknya, pada saat tangan
    direntangkan, otot bisep relaksasi sedangkan otot trisep berkontraksi.
</p>