<div class="box">
    <p><b>Apa yang perlu kamu diskusikan?</b></p>
    <ol>
        <li>Bagaimana respons daun putri malu ketika diberi rangsang sentuhan?</li>
        <li>Bagaimana respons daun putri malu ketika diberi rangsang panas?</li>
        <li>Bagaimana respons daun putri malu ketika diberi rangsang dingin?</li>
        <li>Bagian mana dari tumbuhan yang paling sensitif terhadap rangsang sentuhan?</li>
        <li>Apakah kecepatan respons atau tanggapan daun putri malu akan berbeda apabila diberi rangsangan yang berbeda?</li>
    </ol>
    <p><b>Apa yang dapat kamu simpulkan?</b></p>
    <p>Berdasarkan percobaan dan diskusi yang telah kamu lakukan, apa yang dapat kamu simpulkan?</p>
</div>
<p>
    Jika kamu mengamati dengan saksama, ternyata tumbuhan juga
    melakukan gerakan. Misalnya pada tumbuhan putri malu. Ketika daun
    tumbuhan putri malu disentuh, maka daun putri malu akan menutup.
    Gerak menutup daun tumbuhan putri malu merupakan respons
    terhadap adanya rangsang. Arah menutupnya daun akibat rangsang
    adalah tetap meskipun diberi rangsangan dari arah yang berbeda.
    Bagaimana daun putri malu dapat menutup? Ketika daun putri malu
    dikenai rangsang, akan terjadi aliran air dan ion pada bagian ketiak
    daun. Adanya aliran air ini menyebabkan kadar air pada ketiak daun
    berkurang, sehingga tekanannya mengecil. Akibatnya daun putri malu
    akan menutup dan tampak seperti layu. Meskipun pada pergerakan
    daun putri malu tidak ada perpindahan tempat, namun tumbuhan
    putri malu tersebut masih dianggap bergerak. Apakah pada tumbuhan
    lain juga bergerak? Bagaimana pergerakan pada tumbuhan yang lain?
    Gerakan-gerakan seperti apa saja yang dilakukan? Untuk menjawab
    pertanyaan-pertanyaan tersebut, mari kita pelajari pembahasan
    tentang gerak pada tumbuhan berikut ini!
</p>