<p class="no-indent">tumbuhan mengalami gerak tropisme? Kemanakah arah gerak
tumbuhan? Apakah semua tumbuhan mengalami gerak tropisme? Agar
kamu mengetahuinya, ayo pelajari materi ini dengan penuh semangat!</p>

<h5><span>1.</span>Gerak Fototropisme</h5>

<p>Perhatikan kembali Gambar 1.48! Ujung batang tumbuhan
mengalami pertumbuhan ke arah cahaya. Gejala yang tampak pada
Gambar 1.48 menunjukkan pengaruh rangsang cahaya terhadap arah
tumbuh batang tumbuhan. Jenis gerak tropisme yang dipengaruhi
oleh rangsangan cahaya disebut dengan <b>gerak fototropisme</b> atau
<b>heliotropisme</b>. Tumbuhan yang arah tumbuhnya mendekati sumber
cahaya disebut <b>fototropisme positif</b> sedangkan yang menjauhi
cahaya disebut <b>fototropisme negatif</b>. Termasuk jenis fototropisme
apakah tumbuhan yang terdapat pada Gambar 1.48?</p>

<h5><span>2.</span>Gerak Geotropisme</h5>

<p>Perhatikan gerak pertumbuhan akar jagung pada Gambar 1.49! Melalui gambar tersebut terlihat akar jagung tumbuh menuju arah
bawah (menuju ke pusat bumi). Setelah jagung diletakkan pada posisi miring, akar menjadi bengkok dan tumbuh kembali menuju
pusat bumi. Perhatikan pertumbuhan batang jagung pada Gambar 1.49!</p>

<div class="row">
    <div class="col">
        <p>Terlihat arah pertumbuhan batang ke atas (menjauhi pusat bumi).Setelah jagung diletakkan pada posisi miring, batang menjadi bengkok dan
        tumbuh kembali menuju ke atas
        (menjauhi pusat bumi).   Arah gerak akar dan batang jagung tersebut terjadi karena pengaruh gravitasi bumi. Gerak akar dan batang yang demikian disebut <b>geotropisme</b>
        atau <b>gravitropisme</b>. Gerak akar menuju ke pusat bumi disebut <b>geotropisme positif</b>, sedangkan gerak batang menjauhi pusat bumi
        disebut <b>geotropisme negatif</b>.</p>
    </div>
    <div class="col">
        <div class="mb-4 text-center">
            <a data-fancybox="gallery" href="content/img/page 55/1.png"><img style="width:80%;" src="content/img/page 55/1.png"></a>
            <div>
                <small>Sumber: Reece et al. 2012
                <br/>
                <b>Gambar 1.49</b> Pertumbuhan Akar jagung</small>
            </div>
        </div>
    </div>
</div>

<h5><span>3.</span> Gerak Hidrotropisme</h5>

<p>Selain tumbuh menuju pusat bumi, gerak pertumbuhan akar juga
dipengaruhi oleh sumber air. Pertumbuhan akar menuju sumber
air disebut <b>gerak hidrotropisme</b>. Maha Kuasa Tuhan yang telah</p>