<p class="no-indent">memberikan tumbuhan kemampuan tersebut, sehingga tumbuhan
dapat terus mendapatkan air sehingga dapat tetap hidup.</p>

<h5><span>4.</span>Gerak Tigmotropisme</h5>

<p>Beberapa tumbuhan seperti mentimun, kacang panjang, labu,
anggur, dan markisa memiliki organ tambahan yang disebut sulur.
Perhatikan Gambar 1.50! Pada gambar tersebut terlihat sulur yang
melilit pada suatu batang. Bagaimana sulur tersebut dapat melilit?
Tentu ada rangsangan yang memengaruhi gerak sulur tersebut yaitu
sentuhan. Gerak melilitnya sulur tumbuhan pada tempat rambatannya
merupakan contoh <b>gerak tigmotropisme</b>. Dapatkah kamu
menyebutkan contoh lain dari gerak tigmotropisme?</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page 56/1.png"><img style="width:50%;" src="content/img/page 56/1.png"></a>
    <div>
        <small>Sumber: Dok. Kemdikbud
        <br/>
        <b>Gambar 1.50</b> Sulur Tumbuhan yang Melilit pada Tempat Tumbuh</small>
    </div>
</div>

<h5><span>5.</span>Gerak Kemotropisme</h5>

<p>Tumbuhan dapat melangsungkan kehidupannya karena Tuhan
Yang Maha Kuasa memberikan kemampuan untuk bereproduksi.
Reproduksi tumbuhan melibatkan proses penyerbukan, yaitu
peristiwa jatuhnya serbuk sari di kepala putik. Di kepala putik,
serbuk sari akan berkecambah dan membentuk buluh serbuk yang
akan membawa gamet jantan (spermatozoid) menuju gamet betina
(sel telur). Perhatikan Gambar 1.51! Coba kamu pikirkan, bagaimana
buluh serbuk dapat bergerak menuju sel telur? Apa rangsangan yang
memengaruhi pergerakan buluh serbuk? Gerakan buluh serbuk menuju
sel telur dipengaruhi oleh zat gula (zat kimia) yang dikeluarkan oleh
bakal buah. Gerak tropisme yang dipengaruhi oleh zat kimia disebut
<b>kemotropisme</b>.</p>