<p class="no-indent">apa yang dimaksud dengan kelajuan sesaat? Berdasarkan Gambar 1.4
dapatkah kamu menentukan kelajuan sesaat mobil pada saat 2 sekon,
4 sekon, dan 8 sekon?.</p>

<p>Pada mobil tertentu, biasanya dilengkapi oleh alat yang disebut
dengan Global Positioning System (GPS) untuk menginformasikan
posisi, kecepatan, arah, dan waktu secara akurat. Perhatikanlah
Gambar 1.5, terlihat pada GPS mobil melaju dengan kelajuan yang
tetap, yaitu 20 m/s atau 72 km/jam. Tahukah kamu apa artinya?</p>
            
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page6/1.png"><img style="width:70%;" src="content/img/page6/1.png"></a>
    <div>
        <small>
        	Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.5</b> Global Positioning System (GPS) pada Mobil
       	</small>
    </div>
</div>

<p>Jika kelajuan mengukur jarak tempuh, maka kecepatan mengukur
perpindahan (∆s, dengan ∆ adalah perubahan/selisih) gerak benda
tiap satuan waktu (t).</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page6/2.png"><img style="width:15%;" src="content/img/page6/2.png"></a>
</div>

<p>Meskipun kelajuan dan kecepatan memiliki definisi konsep yang
berbeda, namun pada Gerak Lurus Beraturan (GLB) besar kecepatan
dan kelajuan memiliki nilai, simbol (v), serta satuan yang sama (m/s).</p>    