<div class="box">
    <center>
        <h3>Ayo, Kita Lakukan</h3>
        <h6>Aktivitas 1.8 Mengidentifikasi Jenis Gerak Tumbuhan di Lingkungan Sekitar</h6>
    </center>
    <p>Amati tumbuhan yang ada di sekitar kamu. Temukan 10
    tumbuhan yang berbeda, kemudian identifikasi jenis gerakan
    yang dilakukan tumbuhan tersebut! Laporkan hasil temuanmu ke
    gurumu!
    </p>
    <div class="mb-4 text-center">
        <small><b>Gambar 1.9</b> Data Hasil Identifikasi Jenis Gerak Tumbuhan</small>
        <br/>
        <img style="width:80%;" src="content/img/page60/1.png">
    </div>
</div>
    
<div class="box">
    <center>
        <h3>Ayo, Kita Renungkan</h3>
    </center>
    <p>
    Setiap makhluk hidup diberikan kemampuan untuk bergerak
    oleh Tuhan Yang Maha Esa. Dengan bergerak, kamu dapat
    melakukan berbagai aktivitas. Tuhan sudah
    menunjukkan
    kekuasaan-Nya dengan memberi kemampuan bergerak pada
    makhluk hidup. Ternyata yang dapat melakukan gerak tidak hanya
    makhluk hidup saja, bahkan benda tak hidup pun dapat bergerak
    dengan menggunakan konsep gerak pada makhluk hidup. Contoh
    benda mati yang dapat bergerak dengan konsep pada makhluk
    hidup adalah pesawat terbang. Pesawat terbang dapat bergerak
    </p>
</div>