<h3>Uji Kompetensi</h3>
<p><b>A. Pilihlah satu jawaban yang paling tepat!</b></p>
<ol>
    <li>
        Fungsi sistem rangka antara lain melindungi organ internal. Pada
        tubuh manusia tulang yang melindungi jantung dan paru-paru
        serta otak secara berturut-turut adalah ....
        <ol type="A">
            <li>tulang belakang dan tulang rusuk</li>
            <li>tulang rusuk dan tulang tengkorak</li>
            <li>tulang tengkorak dan tulang rusuk</li>
            <li>tulang belakang dan tulang tengkorak</li>
        </ol>
    </li>
    <li>
        Berikut ini merupakan contoh otot yang bekerja secara sadar dan
        tidak sadar yang disebutkan secara berturut-turut adalah ....
        <ol type="A">
            <li>otot jantung dan otot dahi</li>
            <li>otot jantung dan otot trisep</li>
            <li>otot bisep dan otot jantung</li>
            <li>otot dahi dan otot gastronemius</li>
        </ol>
    </li>
    <li>
        Tipe persendian yang terdapat pada rahang adalah ....
        <ol type="A">
            <li>sendi geser</li>
            <li>sendi putar</li>
            <li>sendi pelana</li>
            <li>sendi engsel</li>
        </ol>
    </li>
    <li>
        Gerak tumbuhan yang memerlukan rangsang berupa perubahan
        kadar air di dalam sel sehingga terjadi pengerutan yang tidak
        merata disebut gerak ....
        <ol type="A">
            <li>nasti</li>
            <li>esionom</li>
            <li>tropisme</li>
            <li>higroskopis</li>
        </ol>
    </li>
    <li>
        Contoh gerak tumbuhan berikut yang bukan merupakan contoh
        dari gerak nasti adalah....
        <ol type="A">
            <li>mekarnya bunga pukul empat</li>
            <li>gerak menutupnya daun putri malu</li>
            <li>menguncupnya daun tumbuhan Leguminoceae</li>
            <li>merekahnya kulit buah-buahan yang sudah kering pada tumbuhan polong-polongan</li>
        </ol>
    </li>
</ol>