<ol start="6">
    <li>
        Perhatikan pernyataan-pertanyaan di bawah ini!<br>
        (1) sebagian besar ikan memiliki bentuk tubuh torpedo <br>
        (2) ekor dan sirip ikan berfungsi untuk menahan laju air <br>
        (3) sirip tambahan diperlukan untuk melakukan berbagai gerakan di dalam air <br>
        (4) bentuk torpedo (streamline) tubuh ikan berfungsi untuk mengurangi hambatan di dalam air <br>   

        Berdasarkan pernyataan-pernyataan di atas, yang mendukung ikan
        untuk melakukan berbagai gerakan di dalam air adalah pernyataan
        nomor ....
        <ol type="A">
            <li>(1), (2), dan (3)</li>
            <li>(1), (2), dan (4)</li>
            <li>(1), (3), dan (4)</li>
            <li>(2), (3), dan (4)</li>
        </ol>  
    </li>
    
    <li>
        Seseorang yang sedang mengendarai sepeda mampu menempuh
        jarak 5 meter dalam waktu 2,5 sekon. Berdasarkan informasi
        tersebut, kecepatan anak bersepeda adalah ... m/s.
        <ol type="A">
            <li>2,0</li>
            <li>5,0</li>
            <li>7,5</li>
            <li>12,5</li>
        </ol>
    </li>
    <li>
        Sebuah mobil bergerak dengan kecepatan yang berubah-ubah
        seperti digambarkan pada grafik di bawah ini.
        <div class="text-center mb-4">
            <img style="width:70%;" class="mb-3" src="content/img/page67/1.png" alt="" />
        </div>
        Titik yang menunjukkan mobil sedang mengalami peristiwa kelembaman adalah ....
        <ol type="A">
            <li>A - B</li>
            <li>B - C</li>
            <li>C - D</li>
            <li>D - A</li>
        </ol>
    </li>
</ol>