<ol start="9">
    <li>
    Perhatikan gambar bola yang dilempar ke tembok akan memantul kembali seperti gambar di bawah ini!
    <div class="text-center mb-4">
        <img style="width:70%;" class="mb-3" src="content/img/page68/1.png" alt="" />
    </div>
    Berikut pasangan gaya aksi-reaksi yang benar adalah ....
    <ol type="A">
        <li>F 1 , F 2 dan F 3 , karena ketiga gaya tersebut menggambarkan gerak bola</li>
        <li>F 1 dan F 2 , karena bekerja pada benda yang sama dan arah gayanya saling tegak lurus</li>
        <li>F 1 dan F 3 , karena bekerja pada benda yang berbeda dan arah gayanya saling tegak lurus</li>
        <li>F 2 dan F 3 , karena bekerja pada benda yang berbeda dan arah gayanya saling berlawanan</li>
    </ol>
    </li>
    <li>
    Perhatikan posisi burung yang sedang terbang bebas seperti pada gambar di bawah ini!
    <div class="text-center mb-4">
        <img style="width:70%;" class="mb-3" src="content/img/page68/2.png" alt="" />
        <div>
        <small>Sumber: Dok. Kemdikbud</small>
        </div>
    </div>
    Saat terbang di udara, burung tersebut menerapkan hukum
    ketiga Newton dengan cara memanfaatkan sifat gesekan udara.
    Berdasarkan fakta tersebut, maka perbandingan besarnya gaya
    aksi dan reaksi antara burung dengan udara yang benar adalah ....
    </li>
</ol>