<ol type="A">
    <li>sama, sehingga burung dapat melayang di udara</li>
    <li>sama, sehingga burung dapat terbang dengan stabil di udara</li>
    <li>sama, karena gaya yang dimilikinya melebihi besar gaya gesekan udara maka burung dapat maju ke depan</li>
    <li>berbeda, karena gaya yang dimilikinya lebih kecil dari gaya gesekan udara sehingga burung dapat maju ke depan
    </li>
</ol>
<p><b>B. Jawablah dengan benar pertanyaan berikut!</b></p>
<ol>
    <li>
        Perhatikan gambar ketiga jenis otot manusia berikut ini
        <div class="text-center mb-4">
        <img style="width:100%;" class="mb-3" src="content/img/page69/1.png" alt="" />
        </div>
        Jelaskan nama masing-masing otot tersebut dan lokasinya dalam
        tubuh manusia, serta sebutkan satu (1) ciri yang nampak dari otot
        tersebut!
    </li>
    <li>Mengapa kita dianjurkan untuk berjemur pada pagi hari?</li>
    <li>Jelaskan perbedaan prinsip gerak yang dilakukan oleh burung, ikan, dan kuda berdasarkan bentuk tubuhnya!</li>
    <li>
        Perhatikan gambar grafik berikut ini!
        <div class="text-center mb-4">
        <img style="width:90%;" class="mb-3" src="content/img/page69/2.png" alt="" />
        </div>
        Berdasarkan gambar di atas,
        <ol type="A">
        <li>Apa yang terjadi pada kecepatan mobil yang berada pada jarak di antara 2,6 km sampai 2,8 km?</li>
        <li>
            Manakah dari gambar A, B, C, D, dan E berikut yang
            menunjukkan lintasan gerak mobil balap yang terekam pada
            grafik di atas?
        </li>
        </ol>
    </li>
</ol>