
<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/page70/1.png" alt="" />
</div>
<ol start="5">
    <li>
        Perhatikan gambar di bawah ini!
        <div class="mb-4 text-center">
            <img style="width:80%;" src="content/img/page70/2.png">
            <div>
                <small>     Sumber: www.bukusekolah.org</small>
            </div>
        </div>
        Seorang peloncat dengan berat w menekan tanah di bawahnya dengan gaya yang besarnya F dan sebagai hasilnya ia melambung ke udara.
        <ol type="A">
            <li>
            Berapakah besar gaya yang dikerjakan tanah (F ́) terhadap
            peloncat? Apakah F ́=w, F ́>w, atau F ́< w?
            </li>
            <li>
            Berapa pula besar F’ dibandingkan F? Apakah F ́=F, F ́>F, atau F ́< F? Jelaskan!
            </li>
        </ol>
    </li>
</ol>