<div class="box">
    <div class="mb-4 text-center">
        <small><b>Tabel 1.11</b> Contoh Benda Bergerak dan Jenis Gaya yang Memengaruhinya</small>
        <img style="width:90%;" src="content/img/page72/1.png">
    </div>
    <p><div style="padding: 20px; background: #F0E68C; border: 3px dotted red;">
        Lakukan kegiatan ini dengan teliti dan kritis. Apabila selama
        kamu menyelesaikan tugas ini kamu perlu melakukan konsultasi
        atau bertanya kepada seseorang, maka lakukanlah dengan baik
        dan sopan. Apabila kamu mengalami kesulitan, kamu dapat
        meminta bantuan kepada guru atau orangtuamu.
    </div></p>
    <ul>
        <li><b>Penilaian</b>
            <p>Penilaian dilakukan berdasarkan produk berupa laporan dari
            kegiatanmu tentang beberapa contoh benda bergerak dan jenis
            gaya yang dapat menyebabkan benda tersebut bergerak. Selama
            menyelesaikan laporan ini jangan lupa bekerjasamalah dengan
            teman satu kelompokmu dan gunakan pula kreativitasmu untuk
            menyusun laporan ini! Sebaiknya laporan yang kamu susun
            dilengkapi dengan gambar/foto kegiatan, data hasil pengamatan,
            dan sumber rujukan yang digunakan. Apabila kamu telah
            menyelesaikan laporanmu, presentasikan hasilnya di depan kelas.</p>
        </li>
    </ul>
</div>