<p>Saat melakukan perjalanan dari rumah ke sekolah, kendaraan yang
kamu tumpangi akan bergerak dengan kecepatan yang berubah-ubah
tiap waktu. Perhatikan Gambar 1.6!</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page8/2.png"><img style="width:80%;" src="content/img/page8/2.png"></a> 
    <div>
        <small>
            Sumber: Dok. Kemdikbud
            <br/>
            <b>Gambar 1.6</b> Perubahan Kecepatan Mobil Saat Menjauhi Lampu Hijau dan <br>Mendekati Lampu Merah
        </small>
    </div>
</div>

<p>Gambar 1.6 menunjukkan mobil yang sedang bergerak menjauhi
lampu lalu lintas akan dipercepat, sedangkan saat mendekati lampu lalu
lintas akan diperlambat. Percepatan atau perlambatan mobil tersebut
dengan mudah dapat diamati dari adanya perubahan besar kelajuan
mobil yang ditunjukkan oleh jarum speedometer atau angka yang
muncul pada GPS. Secara matematis, percepatan dapat dirumuskan
sebagai berikut.</p>

<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page8/3.png"><img style="width:30%;" src="content/img/page8/3.png"></a> 
</div>

<p>dengan:</p>
<div class="mb-4 text-left">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a data-fancybox="gallery" href="content/img/page8/4.png"><img style="width:40%;" src="content/img/page8/4.png"></a> 
</div>

<div class="box">
    <center>
        <h3>Ayo, Kita Diskusikan</h3>    
    </center>
    <p>Saat mendekati lampu lalu lintas, mobil yang awalnya bergerak
    dengan kecepatan sebesar 72 km/jam (20 m/s) diperlambat hingga
    0 km/jam dalam selang waktu 5 sekon dengan proses perubahan
    seperti dalam Tabel 1.2.</p>
</div>