<p align="justify">Berdasarkan hasil diskusi yang telah kamu lakukan, dapat diketahui
bahwa manfaat dari pesawat sederhana adalah untuk mempermudah
pekerjaan manusia. Berikut ini akan dibahas beberapa jenis pesawat
sederhana yang ada di sekitarmu. Selain itu, akan dijelaskan pula
keuntungan mekanis dari penggunaan pesawat sederhana.</p>
<h4><span>1</span> Jenis-jenis Pesawat Sederhana</h4>
<h5><span>a</span> Katrol</h5>
<div class="row">    
<div class="col-md-6">
    <p align="justify">Tahukah kamu bagaimana seseorang dapat
    mengambil air dari sumur yang dalam dengan
    menggunakan timba (Gambar 2.1). Ini karena
    orang tersebut memanfaatkan katrol tetap yang
    berfungsi untuk mengubah arah gaya. Jika tali
    yang terhubung pada katrol ditarik ke bawah,
    maka secara otomatis timba yang berisi air akan
    terkerek ke atas. Keuntungan mekanis katrol tetap
    sama dengan 1. Karena pada  katrol tetap tunggal,
    gaya kuasa yang digunakan untuk menarik beban
    sama dengan gaya beban.</p>
</div>
<div class="col-md-6">
    <div class="mb-4 text-center">
        <a data-fancybox="gallery" href="content/img/page81/1.png"><img style="width:80%;" src="content/img/page81/1.png"></a>
        <div>
            <small>Sumber: Dok. Kemendikbud
            <br/>
            <b>Gambar 2.1 </b> Katrol Tetap Tunggal</small>
        </div>
    </div> 
</div>    
</div>
<p align="justify">Berbeda dengan katrol tetap, kedudukan katrol bebas berubah dan tidak dipasang di tempat tertentu. Perhatikan Gambar 2.2!</p>
<div class="mb-4 text-center">
    <a data-fancybox="gallery" href="content/img/page81/2.png"><img style="width:80%;" src="content/img/page81/2.png"></a>
    <div>
        <small>Sumber: Dok. Kemendikbud
        <br/>
        <b>Gambar 2.2 </b>Beberapa Jenis Katrol </small>
    </div>
</div>