<div class="text-center">
    <div class="row">
        <div class="col">
                <div class="mb-4 text-center">
                <a data-fancybox="gallery" href="content/img/page92/1.png"><img style="width:100%;" src="content/img/page92/1.png"></a>
            </div>
        </div>
        <div class="col">
            <p class="no-indent"><b>PENGUNGKIT JENIS I</b>
            <p class="no-indent">Titik tumpu berada di antara
            kuasa beban. Hal ini terjadi
            ketika pemain bulutangkis
            menggunakan otot leher untuk
            menengadahkan kepalanya</p>
            <p class="no-indent"><b>PENGUNGKIT JENIS III</b>
            <p class="no-indent">Kuasa terletak di antara titik
            tumpu dan beban. Kondisi
            ini terjadi ketika pemain
            bulutangkis menegangkan otot
            lengan dan bahu</p>
            <p class="no-indent"><b>PENGUNGKIT JENIS II</b>
            <p class="no-indent">Beban berada di antara titik
            tumpu dan kuasa. Kondisi ini
            terjadi ketika otot betis pemain
            bulutangkis mengangkat beban
            tubuhnya dengan bertumpu
            pada jari kakinya</p>
            </div>
        </div>
        <div>
            <small>Sumber: Dok. Kemendikbud<br/><b>Gambar : 2.12</b> Prinsip Kerja Pesawat Sederhana pada Saat Bermain Bulutangkis</small>
        </div>               
    </div>
</div>