<h3>Uji Kompetensi</h3>

<div class="mb-4">
    <b>A. Pilihlah satu jawaban yang paling tepat!</b>
</div>

<div class="mb-4">
    1. Perhatikan pernyataan berikut ini.<br/>
    <p>
       <ol>
            <li>Edo mendorong meja dengan gaya sebesar 30 N sehingga meja berpindah sejauh 2 m.</li>
            <li>Seekor kuda menarik delman dengan gaya sebesar 4.000 N sehingga delman berpindah sejauh 15 m.</li>
            <li>Sebuah mobil menghantam sebuah pohon dengan gaya 2.000 N sehingga pohon tumbang di tempat</li>
        </ol>
        Pernyataan di atas yang merupakan contoh usaha dalam IPA adalah ....
    </p>
    
    <input type="radio" name="soal[1]" value=""> (1) dan (2)
    <br>
    <input type="radio" name="soal[1]" value=""> (2) dan (3)
    <br>
    <input type="radio" name="soal[1]" value=""> (3) dan (1)
    <br>
    <input type="radio" name="soal[1]" value=""> (1), (2), dan (3)
    <br>
</div>

<div class="mb-4">
    2. Dayu menarik sebuah gerobak berisi pasir dengan gaya sebesar 500 N sehingga gerobak tersebut berpindah sejauh 10 m. Berdasarkan
    pernyataan tersebut, besar usaha yang dilakukan Dayu adalah ... J.
    <br/>
    <p>
        <ol>
            <li>Edo mendorong meja dengan gaya sebesar 30 N sehingga meja berpindah sejauh 2 m.</li>
            <li>Seekor kuda menarik delman dengan gaya sebesar 4.000 N sehingga delman berpindah sejauh 15 m.</li>
            <li>Sebuah mobil menghantam sebuah pohon dengan gaya 2.000 N sehingga pohon tumbang di tempat</li>
        </ol>
        Pernyataan di atas yang merupakan contoh usaha dalam IPA adalah ....
    </p>

    <input type="radio" name="soal[1]" value=""> 5
    <br>
    <input type="radio" name="soal[1]" value=""> 50
    <br>
    <input type="radio" name="soal[1]" value=""> 500
    <br>
    <input type="radio" name="soal[1]" value=""> 5.000
    <br>
</div>

<div class="mb-4">
    3. Jarak yang ditempuh oleh mobil saat melaju dengan usaha sebesar 15.000 J dan gaya sebesar 500 N adalah ... m.
    <br/>
    <br/>
    <input type="radio" name="soal[1]" value=""> 3
    <br>
    <input type="radio" name="soal[1]" value=""> 30
    <br>
    <input type="radio" name="soal[1]" value=""> 25
    <br>
    <input type="radio" name="soal[1]" value=""> 250
    <br>
</div>

<div class="mb-4">
    4. Besar daya yang dilakukan oleh seekor sapi yang menarik gerobak dengan gaya 7.000 N sehingga gerobak tersebut dapat berpindah
    sejauh 10 m dalam waktu 35 detik adalah ... watt.
    <br/>
    <br/>
    <input type="radio" name="soal[1]" value=""> 2.000
    <br>
    <input type="radio" name="soal[1]" value=""> 5.000
    <br>
    <input type="radio" name="soal[1]" value=""> 12.500
    <br>
    <input type="radio" name="soal[1]" value=""> 24.500
    <br>
</div>

