<div style="font-size:12px;">

    <div class="mb-3">Hak Cipta © 2017 pada Kementerian Pendidikan dan Kebudayaan Dilindungi Undang-Undang</div>

    <div class="mb-3" style="font-style:italic;"><b>Disklaimer:</b> Buku ini merupakan buku siswa yang dipersiapkan Pemerintah dalam rangka implementasi Kurikulum 2013. Buku siswa
    ini disusun dan ditelaah oleh berbagai pihak di bawah koordinasi Kementerian Pendidikan dan Kebudayaan, dan dipergunakan
    dalam penerapan Kurikulum 2013. Buku ini merupakan “dokumen hidup” yang senantiasa diperbaiki, diperbarui, dan dimutakhirkan
    sesuai dengan dinamika kebutuhan dan perubahan zaman. Masukan dari berbagai kalangan diharapkan dapat meningkatkan kualitas
    buku ini. Dalam rangka meningkatkan mutu buku, masyarakat sebagai pengguna buku diharapkan dapat memberikan masukan kepada
    alamat penulis dan/atau penerbit dan laman http://buku. kemdikbud.go.id atau melalui email buku@kemdibud.go.id.</div>

    <div class="mb-3"><b>Katalog Dalam Terbitan (KDT)</b></div>

    <div class="mb-3">
        <img style="width:80%;" class="mb-3" src="content/img/ii/1.png" alt="" />
    </div>

    <table class="table table-bordered mb-3">
        <tr>
            <th>Kontributor Naskah</th>
            <td>:</td>
            <td>Siti Zubaidah, Susriyati Mahanal, Lia Yuliati, I Wayan Dasna, Ardian A. Pangestuti, Dyne R. Puspitasari, Hamim T. Mahfudhillah, Alifa Robitah, Zenia L. Kurniawati, Fatia Rosyida, dan Mar’atus Sholihah.</td>
        </tr>
        <tr>
            <th>Penelaah</th>
            <td>:</td>
            <td>Ana Ratna Wulan, Herawati Susilo, I Made Padri, Dadan Rosana, Enny Ratnaningsih, Maria Paristiowati, dan Ahmad Mudzakir.</td>
        </tr>
        <tr>
            <th>Pereview</th>
            <td>:</td>
            <td>Farikhah A idah</td>
        </tr>
        <tr>
            <th>Penyelia Penerbitan</th>
            <td>:</td>
            <td>Pusat Kurikulum dan Perbukuan, Balitbang, Kemendikbud.</td>
        </tr>
    </table>

    <div>Cetakan Ke-1, 2014 ISBN 978-602-1530-64-1 (Jilid 2)</div>
    <div>Cetakan Ke-2, 2017 (Edisi Revisi)</div>
    <div>Disusun dengan huruf Georgia, 12 pt.</div>
</div>