<h3><span>A</span>Nutrisi</h3>

<div class="text-center mb-4">
    <img style="width:90%;" class="mb-3" src="content/img/free-1.png" alt="" />
</div>

<div class="box">
    <center>
        <h3>Tahukah kamu?</h3>
        <h6>Aktifitas 4.6</h6>
    </center>
    <p>
        Coba perhatikan aktivitasmu sehari-hari, hampir setiap hari kamu harus belajar di sekolah, mengerjakan tugas, atau melakukan
        kegiatan ekstrakurikuler di sekolah. Tentu kamu membutuhkan banyak energi untuk menunjang semua kegiatanmu itu. Pada
        masa-masa pertumbuhan ini, kamu membutuhkan asupan nutrisi yang cukup untuk menunjang pertumbuhanmu. Ketika kamu lapar,
        makanan apakah yang kamu pilih? Makanan yang sesuai dengan seleramu atau memilih makanan berdasarkan nilai gizinya?
    </p>
</div>

<a style="position:relative;" href="#" class="btn-play-video" data-video="Endonom-1.mp4">
    <div style="position:absolute;top:40%;right:43%;">
        <img src="assets/img/icons8-circled-play-64.png" alt="">
    </div>
    <img style="width:80%;" src="content/img/page51/1.png">
</a>

<div style="padding: 20px; background: #F0E68C; border: 3px dotted red;">
    Perhatikan! Pastikan kaki tiga, kawat kassa, dan gelas kimia tersusun dengan benar. Berhati-hatilah saat menyalakan Bunsen/lampu
    spiritus. Gunakan sarung tangan tahan panas untuk mengangkat gelas kimia yang telah dipanaskan.
</div>

<div class="mb-4 text-center">
    <img style="width:80%;" src="content/img/img-4.16.png">
    <div>
        <small>Sumber: Reece et al. 2012<br/> <b>Gambar 4.16</b> Struktur Bagian dalam Usus Halus</small>
    </div>
</div>