/* Preload */
#preload{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    color:#444;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#preload .preload-content{
    display: block;
    position: relative;
    margin:auto;
    left: 47%;
    top: 50%;
    width: 250px;
    height: 80;
    margin: -75px 0 0 -75px;
    font-weight: bold;
}

/* General */
.modal{
    z-index:99999;
}
.modal .modal-header h5 span{
    font-size: 15px;
}

.book__content.hover-droppable{
    background:#f0f0f0;
}

/* Sidebar */
.sidebar{
    position:fixed;
    left:0px;
    top:0px;
    width:300px;
    height:100%;
    z-index:99999;
    border:none;
    background: #FFF;
    -webkit-box-shadow: 1px 1px 7px 0px rgba(20, 20, 20, 0.4);
    -moz-box-shadow:    1px 1px 7px 0px rgba(20, 20, 20, 0.4);
    box-shadow:         1px 1px 7px 0px rgba(20, 20, 20, 0.4);
}
.sidebar .head{
    background:#2c3e50;
    color:#FFF;
    padding:10px;
    position: relative;
}
.sidebar .head .close{
    position: absolute;
    top:10%;
    right: 4%;
}
.sidebar .head .close a{
    font-size: 15px;
    color: #FFF;
}
.sidebar .content {
    padding: 10px;
}

/* Nav */
.nav-link:hover {
    color: #FFF; 
    background:#2c3e50;
}
.nav-link:not(:first-of-type) {
    border-top: none;
}
.nav-link.active {
    color: #FFF; 
    background:#2c3e50;
}

/* Light Dark Nav Mode */
.nav.dark {
    background-color: #34495e;
}
.nav-link.dark {
    color: #FFF; 
}
.book__page.dark {
    background: #FFF;
}

/* Title */
.book__body h3{
    font-size:20px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-align: left;
}

.book__body h3 span{
    padding:11px 15px 11px 15px;
    color:#FFF;
    background:#2ecc71;
    margin-right:10px;
}

.book__body h4{
    font-size:16px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-align: left;
}

.book__body h4 span{
    padding:11px 15px 11px 15px;
    color:#FFF;
    background:#e67e22;
    margin-right:10px;
}

.book__body h5{
    font-size:14px;
    margin-bottom:30px;
    margin-top:30px;
    font-weight:bold;
    text-indent: 35px;
    text-align: left;
}

.book__body h5 span{
    margin-right:10px;
}

.book__body h6{
    font-weight: bold;
    text-align: left;
}

/* Layout */
.box{
    padding:20px;
    font-size:13px;
    background:#DAE9F2;
    border:2px solid #7096BA;
    -webkit-border-radius: 10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    margin-top:20px;
    margin-bottom:20px;
}
.box h3{
    padding:0px;
    margin:0px;
    margin-bottom:10px;
    font-weight: bold;
}
.box h6{
    padding:0px;
    margin:0px;
    font-size:16px;
    color:orange;
    font-weight: bold;
    margin-bottom:20px;
}

.image b{
    color:#7888BD;
}
.image div{
    margin-top:10px;
}

/* Context Menu */
.context-menu {
    display: none;
    z-index:99998;
    background: #FFF;
    position: absolute;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 130px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.5);
}

.context-menu .close{
    position: absolute;
    right:0px;
    top:0px;
    padding:5px;
}

.context-menu .close a{
    color: grey;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

.context-menu ul {
    margin-top: 30px;
    padding: 0px;
    margin:30px 10px 10px 10px;
}

.context-menu ul li {
    list-style: none;
}

.context-menu ul li a{
    padding: 5px;
    text-decoration: none;
    display: block;
    color:#444;
}

.context-menu ul li a.active {
    list-style: none;
    color: #FFF; 
    background:#2c3e50;
}

.context-menu ul li a:hover {
    color: #FFF;
    background:#2c3e50;
    cursor: pointer;
}

/* Notes */
.notes{
    position:absolute;
    top:30%;
    left:60%;
    height:230px;
    padding:10px;
    border: 1px solid #ddd;
    background: #FFF;
    display:none;
    z-index:99991;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.5);
}
.notes:hover{
    cursor:move;
}
.notes .close{
    position: absolute;
    right:0px;
    top:0px;
    padding:5px;
}
.notes .close a{
    color: grey;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
.notes .btn{
    font-size:10px;
}
.notes a{
    color:#444;
}

.notes-result{
    padding:10px;
    background:#8e44ad;
    color:#FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity:0.8;
    z-index: 99992;
}
.notes-result:hover{
    opacity:1;
}
.notes-result span {
    font-size: 20px;
}
.notes-result a {
    color: #FFF;
}
.notes-result.one{
   background: #8e44ad;
}
.notes-result.two{
   background: #2ecc71;
}
.notes-result.three{
   background: #e74c3c;
}
.notes-result.four{
   background: #f1c40f;
}
.notes-result.five{
   background: #16a085;
}

.notes-detail{
    position:absolute;
    height:220px;
    padding:10px;
    border:1px solid #ddd;
    background: #FFF;
    display:none;
    z-index: 99992;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.5);
}
.notes-detail .close{
    position: absolute;
    right:0px;
    top:0px;
    padding:5px;
}
.notes-detail .close a{
    color: grey;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}
.notes-detail a{
    color:grey;
}

.notes-color a{
    display: inline-block;
    width: 17px;
    height: 17px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    border: 3px solid #f0f0f0;
}
.notes-color a.one{
   background: #8e44ad;
}
.notes-color a.one:hover, .notes-color a.one.active{
   border: 3px solid #8e44ad;
}
.notes-color a.two{
   background: #2ecc71;
}
.notes-color a.two:hover, .notes-color a.two.active{
   border: 3px solid #2ecc71;
}
.notes-color a.three{
   background: #e74c3c;
}
.notes-color a.three:hover, .notes-color a.three.active{
   border: 3px solid #e74c3c;
}
.notes-color a.four{
   background: #f1c40f;
}
.notes-color a.four:hover, .notes-color a.four.active{
   border: 3px solid #f1c40f;
}
.notes-color a.five{
   background: #16a085;
}
.notes-color a.five:hover, .notes-color a.five.active{
   border: 3px solid #16a085;
}

/* Table of Contents */
.table-of-contents{
    height: 500px;
    overflow: auto;
    padding: 0px;
}
.table-of-contents h3{
    font-size: 13px;
    padding:0px;
    margin: 0px;
    margin-top: 20px;
    font-weight: bold;
}
.table-of-contents ul{
    padding:0px;
    margin: 0px;
    list-style: none;
}
.table-of-contents ol{
    padding:0px;
    margin: 5px;
}
.table-of-contents ol li {
    padding:0px;
    margin: 10px;
    font-size: 12px;
}
.table-of-contents ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #444;
}
.table-of-contents ul li a:hover{
    font-weight: bold;
}

#contentsModal .modal-body {
    font-size:13px;
}
#contentsModal ul{
    padding: 0px;
    margin:0px;
}
#contentsModal ul li{
    padding: 0px;
    margin: 0px;
}
#contentsModal ul li a{
    color:#444;
    text-decoration: none;
    display: block;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
}
#contentsModal ul li a:hover{
    color: #FFF;
    background:#2c3e50;
}

/* Bookmark */
.bookmark-list {
    height: 200px;
    overflow-y: auto;
}
.bookmark-list .item{
    display: block;
    background:#dedede;
    padding:10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bookmark-list .item:hover{
    opacity: 0.8;
}
.bookmark-list .item a{
    text-decoration: none;
    color:#444;
}

/* Download */
.download-list a{
    text-decoration: none;
    color:#444;
}
.download-list .item{
    display: block;
    background:#f0f0f0;
    padding:10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.download-list .item:hover{
    color: #FFF;
    background:#2c3e50;
}

/* Search */
.search-list a{
    text-decoration: none;
    color:#444;
}
.search-list .item{
    display: block;
    background:#f0f0f0;
    padding:10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.search-list .item:hover{
    color: #FFF;
    background:#2c3e50;
}

/* Share */
#shareModal .icon{
}
#shareModal .icon a{
    display: inline-block;
    margin-right: 10px;
    padding:8px;
    color:#FFF;
    text-decoration: none;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%x;
}
#shareModal .icon a:hover{
    opacity: 0.8;
}
#shareModal .icon a.btn-share-facebook{
    background: #524AB3;
}
#shareModal .icon a.btn-share-twitter{
    background: #0084b4;
}
#shareModal .icon a.btn-share-whatsapp{
    background: #4FCE5D;
}