.nav {
  background-color: rgba(33,33,33,.3);
  z-index: 100; 
  padding: 20px 0;
  border-radius: 25px;
}
  .nav-link {
    color: #eee; 
    transition: .3s;
  }
  .nav-link i {
    transition: .1s;
  }
    .nav-link.is-active, .nav-link:hover {
      color: slateblue; }
    .nav-link:not(:first-of-type) {
      border-top: 1px solid #ddd; }
    .nav-link span {
      margin-left: 12px;
      text-transform: capitalize; }
    .nav-link.is-active i, .nav-link:hover i {
      font-size: 22px;
    }

.nav--scroll {
  max-height: calc(100% - 24px);
  overflow-y: auto;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-hover {
  right: 0;
  position: fixed;
  height: 100%;
  padding: 0 5px 0 20px;
  transition: .4s;
}
.navbar-hover.hiding {
  right: -60px;
}
/* overrided tooltip template */
.tooltip {
  left: 15px !important;
}
.tooltip .tooltip-inner {
  padding: 6px 9px;
}

.row {
  margin: 0; }
  .row [class^="col"]:first-child {
    padding-left: 0; }
  .row [class^="col"]:last-child {
    padding-right: 0; }

#contentsModal .modal-body {
  font-size: 13px; }

#contentsModal ul a {
  color: #444;
  text-decoration: underline; }

@media (min-width: 768px) {
  .nav-link {
    max-width: 70px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .nav-link .fas,
    .nav-link .far {
      width: 20px;
      height: 20px;
      font-size: 18px;
      text-align: center; }
    .nav-link span {
      margin: 0;
      margin-top: 6px;
      font-size: 10px;
      text-transform: uppercase; } }

.offcanvas {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 5%;
  left: -250px;
  z-index: 1000;
  transition: left .2s ease-in; 
}
  .offcanvas.is-active {
    left: 0; }
  .offcanvas__menu {
    width: 250px;
    padding: 12px;
    background-color: #fff; }
  .offcanvas__button {
    margin-top: 24px;
    background-color: #333;
    width: 50px;
    height: 50px;
    font-size: 1.3em;
    display: inline-flex;
    text-decoration: none !important;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .offcanvas .background-image__item {
    text-decoration: none; }
    .offcanvas .background-image__item.is-active .img-thumbnail {
      box-shadow: 0 0 0 .2rem #007bff; }
  .offcanvas .background-image .img-thumbnail {
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer; }

@media print {
  .offcanvas {
    display: none !important; } }

@media (max-width: 767px) {
  .offcanvas {
    display: none; } }

.book-showcase {
  background: #fff;
  margin: 0 20px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  perspective: 3000px; }
  .book-showcase__shadow {
    position: absolute;
    top: 0;
    left: 6px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    transition: all .25s ease;
    box-shadow: rgba(0, 0, 0, 0.04) -16px 8px, rgba(0, 0, 0, 0.04) -14px 8px, rgba(0, 0, 0, 0.04) -12px 8px, rgba(0, 0, 0, 0.04) -10px 8px, rgba(0, 0, 0, 0.04) -8px 8px, rgba(0, 0, 0, 0.04) -6px 8px, rgba(0, 0, 0, 0.04) -4px 8px, rgba(0, 0, 0, 0.04) -2px 8px, rgba(0, 0, 0, 0.04) 0px 8px, rgba(0, 0, 0, 0.04) 2px 8px, rgba(0, 0, 0, 0.04) 4px 8px; }
    .book-showcase:hover .book-showcase__shadow {
      transform: translate(-4px, 0); }
  .book-showcase__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #fff;
    box-shadow: white 0 0, gainsboro 1px 1px, gainsboro 2px 2px, #e6e6e6 4px 4px, #e6e6e6 5px 5px, #c8c8c8 7px 7px, #c8c8c8 8px 8px; }
  .book-showcase__cover {
    position: relative;
    outline: 1px solid transparent;
    backface-visibility: hidden;
    transform-origin: 0 50% 0;
    transition: all .25s ease; }
    .book-showcase:hover .book-showcase__cover {
      transform: rotateY(-25deg); }
  .book-showcase__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: block; }
  .book-showcase__edge {
    background: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 100%; }
    .book-showcase__edge-border {
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .book-showcase img {
    border-radius: 3px; }

.wrapper {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  height: 100vh; }

.book {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 1160px;
  height: 100%; 
  padding: 10px 18px 20px;
  max-width: 1160px;
  height: 100%;
  background: #f3f3f3;
  /*border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;*/
  background-image: -webkit-linear-gradient(0,
    rgb(200,200,200) 0%,
    rgb(255,255,255) 1%,
    rgb(240,240,240) 20%,
    rgb(255,255,255) 47.6%,
    rgb(160,160,160) 47.8%,
    rgb(180,180,180) 48%,
    rgb(200,200,200) 50%,
    rgb(180,180,180) 52%,
    rgb(160,160,160) 52.2%,
    rgb(255,255,255) 52.4%,
    rgb(240,240,240) 70%,
    rgb(255,255,255) 99%,
    rgb(200,200,200) 100%);
  background-image: -moz-linear-gradient(0,rgb(200,200,200) 0%,rgb(255,255,255) 1%, rgb(255,255,255) 99%, rgb(200,200,200) 100%);
  background-image: -o-linear-gradient(0,rgb(200,200,200) 0%,rgb(255,255,255) 1%, rgb(255,255,255) 99%, rgb(200,200,200) 100%);
  background-image: -ms-linear-gradient(0,rgb(200,200,200) 0%,rgb(255,255,255) 1%, rgb(255,255,255) 99%, rgb(200,200,200) 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.book:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -3px;
  right: -20px;
  height: 8%;
  width: 100%;
  transform: skewX(150deg);
  background: rgba(0,0,0,.75);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
  .book:not(.book--two-page) {
    max-width: 680px; }
    .book:not(.book--two-page)::before {/*
      position: absolute;
      top: 0;
      left: -49px;
      width: 50px;
      height: 100%;
      background: #fff;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 40px -20px rgba(0, 0, 0, 0.15);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      content: ''; */}
  .book__page {
    position: relative;
    padding: 3rem 1rem;
    background-color: white;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 680px; }
    /*.book__page--left::before, .book__page--right::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      z-index: 9;
      width: 10px;
      height: 100%;
      background: linear-gradient(to left, #ddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, #fff 66.66%);
      background-size: 3px 100%;
      backface-visibility: hidden; }*/
    .book__page--left::after, .book__page--right::after {
      position: absolute;
      top: 0;
      right: -1px;
      width: 50px;
      height: 100%;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 30px -24px rgba(0, 0, 0, 0.17);
      content: ''; }

    .book__page--left {
      display: none; /*penting buat one page */
      background: #fff;
      box-shadow: -1px 1px 0 0 #eee, 
      -3px 3px 3px rgba(0,0,0,0.15), 
      -3px 3px 0 0 #eee, 
      -5px 5px 5px rgba(0,0,0,0.15), 
      -5px 5px 0 0 #eee, 
      -7px 7px 7px rgba(0,0,0,0.15), 
      -7px 7px 0 0 #eee, 
      -8px 8px 8px rgba(0,0,0,0.15), 
      -8px 8px 0 0 #eee, 
      -9px 9px 9px rgba(0,0,0,0.15), 
      -10px 10px 0 0 #eee;
    }
    .book__page--left.first-page {
      box-shadow: -1px 1px 0 0 #eee, 
      -3px 3px 3px rgba(0,0,0,0.15);
    } 

    .book--two-page .book__page--left { display: block; }

    .book__page--right {
      background: #fff;
      box-shadow: 1px 1px 0 0 #eee, 
      3px 3px 3px rgba(0,0,0,0.15), 
      3px 3px 0 0 #eee, 
      5px 5px 5px rgba(0,0,0,0.15), 
      5px 5px 0 0 #eee, 
      7px 7px 7px rgba(0,0,0,0.15), 
      7px 7px 0 0 #eee, 
      8px 8px 8px rgba(0,0,0,0.15), 
      8px 8px 0 0 #eee, 
      9px 9px 9px rgba(0,0,0,0.15), 
      10px 10px 0 0 #eee;
    }
    .book__page--right.last-page {
      background: #fff;
      box-shadow: 1px 1px 0 0 #eee, 
      3px 3px 3px rgba(0,0,0,0.15);
    }

    .book__page--right::before {
      /*left: unset;
      right: 0;
      background: linear-gradient(to right, #ddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, #fff 66.66%);
      background-size: 3px 100%; */
    }
    .book__page--right::after {
      right: unset;
      left: 0;
      box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.05), inset 25px 0 23px -26px rgba(0, 0, 0, 0.15);
    }
  .book__page-loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; }
  .book__paper-flip {
    position: absolute;
    background: linear-gradient(to right, #fff 0%, #ededed 75%, #d6d6d6 100%);
    top: 0;
    bottom: 0; }
  .book__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-repeat: no-repeat; }
  .book__body {
    padding: .5rem 1rem;
    font-size: 15px;
    position: relative;
    height: 100%;
    /* Title */ }
    .book__body p {
      text-indent: 2rem;
      text-align: justify; }
      .book__body p.no-indent {
        text-indent: 0px;
        text-align: justify; }
    .book__body ul li {
      margin: 0px;
      padding: 0px; }
    .book__body h3 {
      font-size: 20px;
      margin-bottom: 30px;
      margin-top: 30px;
      font-weight: bold; }
      .book__body h3 span {
        padding: 11px 15px 11px 15px;
        color: #FFF;
        background: #2ecc71;
        margin-right: 10px;}
    .book__body h4 {
      font-size: 16px;
      margin-bottom: 30px;
      margin-top: 30px;
      font-weight: bold; }
      .book__body h4 span {
        padding: 11px 15px 11px 15px;
        color: #fff;
        background: #e67e22;
        margin-right: 10px;}
    .book__body h5 {
      font-size: 14px;
      margin-bottom: 30px;
      margin-top: 30px;
      font-weight: bold;
      text-indent: 35px; }
      .book__body h5 span {
        margin-right: 10px; }
    .book__body h6 {
      font-weight: bold; }
  .book__content {
    height: 100%;
    overflow: auto; }
  .book__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    font-size: .8em;
    background-repeat: no-repeat; }
  .book__footer-page {
    display: inline-block;
    text-align: right;
    width: 50px; }

.page-nav {
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1; }
  .page-nav__left, .page-nav__right {
    position: absolute;
    text-decoration: none !important;
    font-size: 1.2em;
    width: 50px;
    height: 50px;
    justify-content: center;
    background-color: #fff;
    pointer-events: auto;
  }
  .page-nav>a:before {
    content: "";
    position: absolute;
    top: 0;
    border-style: solid;
    width: 0;
    border-width: 0;
    transition: border-width .2s;
  }
  .page-nav>a.page-nav__left:before {
    left: 0;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.3);
    border-color: #fff rgb(220, 220, 220) rgb(220,220,220) #FFF;
    border-radius: 0 0 5px 0;
  }
  .page-nav>a.page-nav__right:before {
    right: 0;
    box-shadow: 1px 4px 4px rgba(0,0,0,0.3);
    border-color: #fff #fff rgb(220, 220, 220) rgb(220,220,220);
    border-radius: 0 0 0 5px;
  }
  .page-nav>a.open-small:before {
    border-width: 10px;
  }
  .page-nav>a:hover {
    border-radius: 5px;
    transition-delay: .1s;
  }
  .page-nav>a:hover:before {
    border-width: 22px;
  }

  .page-nav__left {
    top: 10px;
    left: 18px; }
  .page-nav__right {
    top: 10px;
    right: 18px; }

@media print {
  .book {
    border: none;
    flex-direction: column;
    box-shadow: none !important; }
    .book::before, .book::after, .book__page-loader, .book__footer {
      display: none !important; } }

@media (max-width: 767px) {
  .wrapper {
    height: auto; }
  .book {
    width: 100%; }
    .book__page-loader {
      height: 100vh; } }

.flip-next-enter-active {
  border: 1px solid #ddd;
  animation-duration: .5s;
  animation-name: flip; }
  .book--two-page .flip-next-enter-active {
    animation-name: flip-full; }

.flip-prev-enter-active {
  border: 1px solid #ddd;
  animation-duration: .5s;
  animation-direction: reverse;
  animation-name: flip; }
  .book--two-page .flip-prev-enter-active {
    animation-name: flip-full; }

@keyframes flip {
  0% {
    width: 0%;
    right: -1.5rem; }
  50% {
    width: 50%; }
  100% {
    width: 50px;
    right: 100%; } }

@keyframes flip-full {
  0% {
    width: 0%;
    right: -1.5rem; }
  50% {
    width: 25%; }
  100% {
    width: 50%;
    right: 50%; } }

.background-attribution {
  font-size: 10px;
}

[data-simplebar] {
  z-index: 100;
}

.book__arrow {
  position: absolute;
  top: 0;
  width: 16px;
  height: 100%;
  transition: .3s;
}
.book__arrow-left {
  left: 0;
}
.book__arrow-left.show {
  left: -15px;
}
.book__arrow-right {
  right: 0;
}
.book__arrow-right.show {
  right: -15px;
}
.book__arrow-right-onepage {
  left: 0;
}
.book__arrow-right-onepage.show {
  left: -15px;
}
.book__arrow a {
  font-size: 36px;
  position: absolute;
  top: 45%;
  color: white;
  opacity: 0;
  transition: .2s;
}
.book__arrow-left a {
  left: -36px;
}
.book__arrow-right a {
  left: 5px;
}
.book__arrow-right-onepage a {
  left: -36px;
}
.book__arrow.show a {
  opacity: .7;
}
.book__arrow.show a .fa {
  border: 2px solid #ffcbdd;
  border-radius: 50%;
  padding: 2px;
  margin: 0;
}
.book__arrow a:hover {
  opacity: 1;
  color: #ffcbdd !important;
  transform: scale(1.3);
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20,20,20,.3);
}